<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
    <header th:fragment="header" class="header">
        <div class="modal_bg"></div>
        <div class="hd_wrap">
            <div class="hd_center sub_center">
                <div class="hd_top">
                    <div class="hd_result state_normal">
                        <div class="hd_result_name">
                            <h2>더서울치과의원<span class="state state_normal">보통</span></h2>
                        </div>
                        <div class="hd_result_content">
                            <div class="hd_result_type01">도메인 만료<span>D-7</span></div>
                            <div class="hd_result_type02">2023.03.01 ~<span>거래중</span></div>
                            <div class="hd_result_type03">2023.03.01 ~ 2023.07.01<span class="end">거래종료</span></div>
                            <span class="hd_result_btn"><img src="/img/hd_result_btn.svg" alt="확장" /></span>
                        </div>
                    </div>
                    <div class="hd_search_wrap">
                        <span class="hd_search_btn">
                            업체 검색
                            <img src="/img/hd_search_btn.svg" alt="찾기" />
                        </span>
                        <div class="hd_search_modal">
                            <div class="search_modal_top">
                                <h3>업체 검색<span class="search_modal_count">(126)</span></h3>
                                <span class="search_modal_close"><img src="/img/search_modal_close.svg" alt="닫기" /></span>
                            </div>
                            <div class="search_modal_input">
                                <form class="search_modal_form">
                                    <input type="text" class="pre" name="hd_search_name" id="hd_search_name" placeholder="업체명을 검색해주세요." />
                                    <input type="button" class="hd_search_submit pre" value="검색" />
                                    <button type="reset" class="hd_search_reset"><img src="/img/hd_search_reset.svg" alt="새로고침" /></button>
                                </form>
                            </div>
                            <ul class="hd_search_list_wrap">
                                <li class="hd_search_list">
                                    <a href="#none"><span class="state state_bad">불안</span>안양바른플러스치과</a>
                                </li>
                                <li class="hd_search_list">
                                    <a href="#none"><span class="state state_normal">보통</span>더서울치과의원</a>
                                </li>
                                <li class="hd_search_list">
                                    <a href="#none"><span class="state state_safe">안정</span>서울센텀구강내과치과의원</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="hd_ext">
                    <div class="hd_ext_top">
                        <h3>블로그 포스팅</h3>
                        <div class="hd_ext_con">
                            <div class="hd_ext_count">
                                <div class="hd_ext_count01">
                                    이번달 작성 예정건<span>24</span>
                                    <div class="hd_ext_info_list">
                                        <div class="hd_ext_info_list01">임상<span>20</span></div>
                                        <div class="hd_ext_info_list02">일상<span>4</span></div>
                                        <div class="hd_ext_info_list03">관리<span>0</span></div>
                                    </div>
                                </div>
                                <div class="hd_ext_count02">현재 포스팅 발행<span>0</span></div>
                                <div class="hd_ext_count03">남은 포스팅<span>0</span></div>
                                <div class="hd_ext_count04" id="posting_modal">이월 포스팅<span>0</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="hd_ext_btn">
                        <a href="#" class="hd_ext_btn01">이월</a>
                        <a href="#" class="hd_ext_btn02">취소</a>
                    </div>
                </div>
            </div>
            <aside class="hd_side main_side">
                <div class="hd_menu01">
                    <a href="#"><img src="/img/hd_menu01.svg" alt="수신함" /><span class="alert_count">10</span></a>
                </div>
                <div class="hd_menu02">
                    <a href="#"><img src="/img/hd_menu02.svg" alt="캘린더" /><span class="calender_count">111</span></a>
                </div>
                <div class="hd_menu03">
                    <a href="#"><img src="/img/hd_menu03.svg" alt="연락처" /></a>
                </div>
                <div class="hd_menu04">
                    <a href="#"
                        ><img src="/img/hd_menu04.png" alt="마이페이지" /><span class="hd_menu_arrow"><img src="/img/hd_menu_arrow.svg" alt="확장" /></span
                    ></a>
                </div>
            </aside>
        </div>
        <div class="posting_modal" id="posting_modal">
            <div class="posting_modal_bg">
                <div class="posting_modal_window">
                    <div class="posting_modal_top">
                        <h2>이월 포스팅 건</h2>
                        <span class="posting_modal_close"><img src="/img/member_info_close.svg" alt="닫기" /></span>
                    </div>
                    <div class="posting_modal_section">
                        <div class="posting_modal_title">
                            <h3>이월 상세페이지 <span>(10)</span></h3>
                            <button class="posting_modal_modify">수정</button>
                        </div>
                        <div class="posting_modal_con">
                            <div class="input_wrap">
                                <div>
                                    <div class="date_wrap">
                                        <input type="date" name="" id="" value="2024-05-01" />
                                        <small>~</small>
                                        <input type="date" name="" id="" value="2024-05-02" />
                                    </div>
                                    <div class="sort_wrap">
                                        <select name="" id="">
                                            <option value="">업체명</option>
                                            <option value="">담당자</option>
                                            <option value="">지역</option>
                                        </select>
                                        <div class="search_bar">
                                            <input type="search" />
                                            <button type="button">
                                                <img src="/img/search.svg" alt="" />
                                            </button>
                                        </div>
                                        <button type="button" class="reset_btn" onclick="window.location.reload()"></button>
                                        <button type="button" class="my_btn">My</button>
                                    </div>
                                </div>
                                <div class="posting_modal_btn_wrap">
                                    <button class="posting_modal_add"><img src="/img/org_modal_plus.svg" alt="추가" /></button>
                                    <button class="posting_modal_del"><img src="/img/org_modal_minus.svg" alt="삭제" /></button>
                                </div>
                            </div>
                            <table class="posting_modal_list" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>거래처명</th>
                                        <th>회차</th>
                                        <th>계약건수</th>
                                        <th>이월 건수</th>
                                        <th>비고</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>안양바른플러스치과</td>
                                        <td><span>9회차</span>2024.05.20~ 2024.06.20</td>
                                        <td>14</td>
                                        <td>2</td>
                                        <td>이월건수 해결 완료</td>
                                    </tr>
                                    <tr>
                                        <td>안양바른플러스치과</td>
                                        <td><span>8회차</span>2024.05.20~ 2024.06.20</td>
                                        <td>14</td>
                                        <td>2</td>
                                        <td>-2개 차감</td>
                                    </tr>
                                    <tr>
                                        <td>안양바른플러스치과</td>
                                        <td><span>7회차</span>2024.05.20~ 2024.06.20</td>
                                        <td>14</td>
                                        <td>2</td>
                                        <td>-2개 차감</td>
                                    </tr>
                                    <tr>
                                        <td>안양바른플러스치과</td>
                                        <td><span>6회차</span>2024.05.20~ 2024.06.20</td>
                                        <td>14</td>
                                        <td>2</td>
                                        <td>-2개 차감</td>
                                    </tr>
                                    <tr>
                                        <td>안양바른플러스치과</td>
                                        <td><span>5회차</span>2024.05.20~ 2024.06.20</td>
                                        <td>14</td>
                                        <td>2</td>
                                        <td>-2개 차감</td>
                                    </tr>
                                    <tr>
                                        <td>안양바른플러스치과</td>
                                        <td><span>4회차</span>2024.05.20~ 2024.06.20</td>
                                        <td>14</td>
                                        <td>2</td>
                                        <td>-2개 차감</td>
                                    </tr>
                                    <tr>
                                        <td>안양바른플러스치과</td>
                                        <td><span>3회차</span>2024.05.20~ 2024.06.20</td>
                                        <td>14</td>
                                        <td>2</td>
                                        <td>-2개 차감</td>
                                    </tr>
                                    <tr>
                                        <td>안양바른플러스치과</td>
                                        <td><span>2회차</span>2024.05.20~ 2024.06.20</td>
                                        <td>14</td>
                                        <td>2</td>
                                        <td>-2개 차감</td>
                                    </tr>
                                    <tr>
                                        <td>안양바른플러스치과</td>
                                        <td><span>1회차</span>2024.05.20~ 2024.06.20</td>
                                        <td>14</td>
                                        <td>2</td>
                                        <td>-2개 차감</td>
                                    </tr>
                                </tbody>
                            </table>
                            <nav class="pg_wrap">
                                <span class="pg">
                                    <a href="#" class="pg_page pg_start">처음</a>
                                    <a href="#" class="pg_page pg_prev">이전</a>
                                    <strong class="pg_current">1</strong>
                                    <a href="#" class="pg_page">2</a>
                                    <a href="#" class="pg_page">3</a>
                                    <a href="#" class="pg_page">4</a>
                                    <a href="#" class="pg_page">5</a>
                                    <a href="#" class="pg_page">6</a>
                                    <a href="#" class="pg_page">7</a>
                                    <a href="#" class="pg_page">8</a>
                                    <a href="#" class="pg_page">9</a>
                                    <a href="#" class="pg_page">10</a>
                                    <a href="#" class="pg_page pg_next">다음</a>
                                    <a href="#" class="pg_page pg_end">맨끝</a>
                                </span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</html>
