<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
    <aside th:fragment="sidebar" class="sidebar">
        <!-- Sidebar -->
        <div class="sidebar_wrap">
            <div class="sidebar_top">
                <a class="sidebar_logo" href="/admin/dsb/main"><img src="/img/sidebar_logo.svg" alt="주식회사 그룹디" /></a>
                <div class="sidebar_user">
                    <div class="sidebar_user_info">
                        <div class="sidebar_user_left">
                            <span class="sidebar_user_name" th:text="${member.name}"></span>
                            <span class="sidebar_user_grade" th:text="${member.codeName}"></span>
                            <input type="hidden" id="userid" th:value="${member.userid}" />
                        </div>
                        <div class="sidebar_user_right">
                            <a href="#" class="user_info_btn" id="member_info"><img src="/img/sidebar_user_right01.svg" alt="회원정보" /></a>
                            <a href="#" class="user_logout_btn" id="member_logout"><img src="/img/sidebar_user_right02.svg" alt="로그아웃" /></a>
                        </div>
                    </div>
                    <div class="sidebar_user_menu">
                        <a href="/admin/pif/design_work" class="sidebar_user_menu01"><img src="/img/sidebar_user_menu01.svg" alt="부서 업무" />부서 업무</a>
                        <a href="/admin/pif/design_portfolio" class="sidebar_user_menu02"><img src="/img/sidebar_user_menu02.svg" alt="포트폴리오" />포트폴리오</a>
                        <a href="#" class="sidebar_user_menu03"><img src="/img/sidebar_user_menu03.svg" alt="업무일지" />업무일지</a>
                    </div>
                </div>
            </div>
            <div class="sidebar_bot">
                <ul class="side_menu">
                    <li class="side_menu01">
                        <a id="side_dsb" href="/admin/dsb/main" class="active"><img src="/img/side_menu01.svg" alt="대시보드 홈" />대시보드 홈</a>
                    </li>
                    <li class="side_menu02">
                        <a id="side_pif" href="#"><img src="/img/side_menu02.svg" alt="프로젝트 정보" />프로젝트 정보</a>
                        <ul class="side_sub_menu">
                            <li><a href="/admin/pif/marketing_plan">마케팅 / 기획</a></li>
                            <li><a href="/admin/pif/ad_management">광고관리</a></li>
                            <li><a href="/admin/pif/design">디자인</a></li>
                            <li><a href="/admin/pif/publisher">퍼블리싱</a></li>
                            <li><a href="/admin/pif/management">관리</a></li>
                            <li><a href="/admin/pif/video">영상</a></li>
                            <li><a href="/admin/pif/place_list">세팅 양식</a></li>
                        </ul>
                    </li>
                    <li class="side_menu03">
                        <a id="side_csf" href="#none"><img src="/img/side_menu03.svg" alt="고객지원 게시판" />고객지원 게시판</a>
                        <ul class="side_sub_menu">
                            <li><a href="/admin/csf/maintenance">유지보수 게시판</a></li>
                            <li><a href="/admin/csf/medical_schedule">진료일정 게시판</a></li>
                            <li><a href="/admin/csf/clinical_writing">임상글 요청 게시판</a></li>
                            <li><a href="/admin/csf/business_management">업체관리</a></li>
                        </ul>
                    </li>
                    <li class="side_menu04">
                        <a id="side_ina" href="#none"><img src="/img/side_menu04.svg" alt="인트라넷" />인트라넷</a>
                        <ul class="side_sub_menu">
                            <li><a href="/admin/ina/mailbox">메일함</a></li>
                            <li><a href="/admin/ina/reservation">예약</a></li>
                            <li><a href="/admin/ina/electronic_payment">전자결재</a></li>
                            <li><a href="/admin/ina/document_management">문서관리</a></li>
                        </ul>
                    </li>
                    <li class="side_menu05">
                        <a id="side_cec" href="/cec/calendar"><img src="/img/side_menu05.svg" alt="캘린더" />캘린더</a>
                    </li>
                    <li class="side_menu06">
                        <a id="side_inb" href="#none"><img src="/img/side_menu06.svg" alt="사내 게시판" />사내 게시판</a>
                        <ul class="side_sub_menu">
                            <li><a href="/admin/inb/electronic_board">전자 게시판</a></li>
                            <li><a href="/admin/inb/departmental_board">부서 게시판</a></li>
                            <li><a href="/admin/inb/department_training_materials">부서 교육자료</a></li>
                            <li><a href="/admin/inb/client_meeting_history">거래처 히스토리 / 미팅 히스토리</a></li>
                        </ul>
                    </li>
                    <li class="side_menu07">
                        <a id="side_ems" href="#none"><img src="/img/side_menu07.svg" alt="사원관리" />사원관리</a>
                        <ul class="side_sub_menu">
                            <li><a href="/admin/ems/employees">사원 목록</a></li>
                            <li><a href="/admin/ems/attendance">근태 관리</a></li>
                        </ul>
                    </li>
                    <li class="side_menu08">
                        <a id="side_amt" href="#none"><img src="/img/side_menu08.svg" alt="부가관리" />부가관리</a>
                        <ul class="side_sub_menu">
                            <li><a href="/admin/amt/modifying_information">정보 수정</a></li>
                            <li><a href="/admin/amt/new_client">신규 거래처 관리 (특수 페이지)</a></li>
                            <li><a href="/admin/amt/risky_client">불안 거래처 관리 (특수 페이지)</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="member_info_wrap">
            <div class="member_info_bg">
                <div class="member_info_window">
                    <div class="member_info_top">
                        <h2>사원 기본정보</h2>
                        <span class="member_info_close"><img src="/img/member_info_close.svg" alt="닫기" /></span>
                    </div>
                    <div class="member_info_section">
                        <div class="member_info_s01">
                            <div class="member_info_img">
                                <img id="imgView" src="" alt="임시이미지" />
                            </div>
                            <div class="member_info_right">
                                <div class="member_info_name">
                                    <h3 id="userNameView"><span class="member_info_grade" id="jobTitleView"></span></h3>
                                    <span class="member_info_team" id="departName">디자인</span>
                                </div>
                                <ul class="member_info_list01">
                                    <li class="member_info_emp">
                                        <div class="member_info_title"><h5>부서 / 팀 / 직위 / 직책</h5></div>
                                        <div class="member_info_con"><p id="depart_total_infoView"></p></div>
                                    </li>
                                    <li class="member_info_sdate">
                                        <div class="member_info_title"><h5>입사일</h5></div>
                                        <div class="member_info_con">
                                            <p id="jobStartDateView"></p>
                                            <span class="member_info_service" id="jobDateView"></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="member_info_s02">
                            <ul class="member_info_list02">
                                <li class="member_info_type">
                                    <div class="member_info_title"><h5>채용구분</h5></div>
                                    <div class="member_info_con"><p id="hireTypeView"></p></div>
                                </li>
                                <li class="member_info_bday">
                                    <div class="member_info_title"><h5>생년월일</h5></div>
                                    <div class="member_info_con"><p id="birthdayView"></p></div>
                                </li>
                                <li class="member_info_mail">
                                    <div class="member_info_title"><h5>이메일</h5></div>
                                    <div class="member_info_con"><p id="emailView"></p></div>
                                </li>
                                <li class="member_info_tmail">
                                    <div class="member_info_title"><h5>부서 이메일</h5></div>
                                    <div class="member_info_con"><p id="emailDepartView"></p></div>
                                </li>
                                <li class="member_info_phone">
                                    <div class="member_info_title"><h5>휴대폰 번호</h5></div>
                                    <div class="member_info_con"><p id="hpnoView"></p></div>
                                </li>
                                <li class="member_info_cphone">
                                    <div class="member_info_title"><h5>업무폰 번호</h5></div>
                                    <div class="member_info_con"><p id="hpnoDepartView"></p></div>
                                </li>
                            </ul>
                        </div>
                        <div class="member_info_s03">
                            <h4>개인정보</h4>
                            <ul class="member_info_list03">
                                <li class="member_info_address">
                                    <div class="member_info_title"><h5>주소</h5></div>
                                    <div class="member_info_con"><p id="addrView"></p></div>
                                </li>
                                <li class="member_info_acc">
                                    <div class="member_info_title"><h5>급여 지급 방법</h5></div>
                                    <div class="member_info_con"><p id="AccountView"></p></div>
                                </li>
                                <li class="member_info_fam">
                                    <div class="member_info_title"><h5>가족사항</h5></div>
                                    <div class="member_info_con"><p id="marriedTypeView"></p></div>
                                </li>
                                <li class="member_info_idn">
                                    <div class="member_info_title"><h5>주민번호</h5></div>
                                    <div class="member_info_con"><p id="juminNoView"></p></div>
                                </li>
                                <li class="member_info_auth">
                                    <div class="member_info_title"><h5>게시판 사용 가능</h5></div>
                                    <div class="member_info_con"><p id="boardUseYNView"></p></div>
                                </li>
                                <li class="member_info_memo">
                                    <div class="member_info_title"><h5>메모</h5></div>
                                    <div class="member_info_con"><p id="memoView"></p></div>
                                </li>
                            </ul>
                        </div>
                        <div class="member_info_s04">
                            <h4>사원 관련 서류</h4>
                            <ul class="member_info_list04">
                                <li class="member_info_accimg">
                                    <div class="member_info_title"><h5>통장 사본</h5></div>
                                    <div class="member_info_con">
                                        <a href="javascript:void(0);" id="imgBankbookView" onclick="downloadFile('imgBankbookView')"> <img src="/img/jpg.png" alt="jpg" />통장사본 </a>
                                        <input type="hidden" id="imgBankbookValue" value="" />
                                    </div>
                                </li>
                                <li class="member_info_famimg">
                                    <div class="member_info_title"><h5>가족관계증명서</h5></div>
                                    <div class="member_info_con">
                                        <a href="javascript:void(0);" id="imgFamilyRLView" onclick="downloadFile('imgFamilyRLView')"> <img src="/img/jpg.png" alt="jpg" />가족관계증명서 </a>
                                        <input type="hidden" id="imgFamilyRLValue" value="" />
                                    </div>
                                </li>
                                <li class="member_info_profile">
                                    <div class="member_info_title"><h5>사원 프로필 사진</h5></div>
                                    <div class="member_info_con">
                                        <a href="javascript:void(0);" id="imgProfileView" onclick="downloadFile('imgProfileView')"> <img src="/img/jpg.png" alt="jpg" />사원 프로필 사진 </a>
                                        <input type="hidden" id="imgProfileValue" value="" />
                                    </div>
                                </li>
                                <li class="member_info_etcfile">
                                    <div class="member_info_title"><h5>이외 자료</h5></div>
                                    <div class="member_info_con">
                                        <a href="javascript:void(0);" id="imgEtcView" onclick="downloadFile('imgEtcView')"> <img src="/img/jpg.png" alt="jpg" />이외 자료 </a>
                                        <input type="hidden" id="imgEtcValue" value="" />
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="member_info_btn_wrap">
                            <a href="#" id="infoUrl" class="member_info_btn">정보수정</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</html>
