.add_request_wrap {
    padding: 40px;
    width: 100%;
}

.add_request_wrap > h2 {
    font-size: 36px;
    font-weight: 600;
    color: #333;
    margin-bottom: 17px;
}

.add_reauest_board {
    border-radius: 20px;
    box-shadow: 0px 16px 36px rgba(27, 28, 83, 0.12);
    overflow: hidden;
    background-color: #fff;
}

.add_request_info {
    width: 100%;
}

.add_request_info .add_request_per label {
    margin-right: 16px;
}

.name_box {
    width: 156px;
    margin-left: 8px;
}

.add_request_info .add_request_ch input[type='checkbox'] {
    height: auto;
    margin-right: 8px;
}

.add_request_info .add_request_ch input[type='text'] {
    /* width: 997px; */
    margin-left: 8px;
}

.add_request_title {
    background-color: #f2f2f2;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    width: 177px;
    min-width: 177px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table tr td {
    padding: 26px 27px;
    border: 1px solid #dddddd;
    text-wrap: nowrap;
}

table tr td.add_request_title {
    text-align: center;
}

table tr td span {
    display: inline-block;
    width: 100px;
    margin-right: 28px;
    color: #333;
}

table tr td span.sub_span {
    display: inline-block;
    width: 58px;
    color: #333;
    margin: 0 28px 0 39px;
}

label {
    font-size: 16px;
    color: #555;
    letter-spacing: -0.25px;
}

input {
    height: 40px;
    padding: 7px 12px;
    border: 1px solid #dddddd;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
}

input[type='radio'] {
    appearance: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    background-color: #f2f2f2;
    vertical-align: bottom;
}

input[type='checkbox'] {
    accent-color: #4446a9;
}

.radio_wrap label {
    margin-right: 20px;
    cursor: pointer;
}

.radio_wrap label input {
    margin-right: 4px;
}

[type='radio']:checked {
    border: 4px solid #4446a9;
}

select {
    border: 1px solid #dddddd;
    padding: 7px 12px;
    border-radius: 4px;
    font-size: 16px;
    width: 185px;
    height: 40px;
}

textarea {
    resize: none;
    padding: 7px 12px;
    width: 100%;
    height: 500px;
    border: 1px solid #dddddd;
    outline: none;
    font-size: 16px;
    letter-spacing: -0.25px;
    line-height: 130%;
    border-radius: 4px;
}

.add_request_file {
    background-color: #fff;
    margin: 25px 50px;
    display: flex;
    border: 1px solid #dddddd;
    border-radius: 8px;
}

.add_request_file .add_request_title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add_request_file input[type='file'] {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
}

.add_request_file .add_bm_con {
    padding: 33px 30px;
    width: 100%;
}

.add_request_file .add_bm_con div {
    display: flex;
    align-items: center;
}

.add_request_file .add_bm_con .file_bottom_box {
    width: 100%;
    display: inline-block;
    background-color: #f2f2f2;
    border-radius: 8px;
    padding: 20px 23px;
    margin-top: 30px;
}

.add_request_file .add_bm_con .file_bottom_box p {
    letter-spacing: -0.25px;
    line-height: 160%;
}

.bm_file_btn {
    width: 80px;
    height: 30px;
    line-height: 30px;
    background: #999;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bm_file_text {
    padding: 0 5px 0 10px;
    margin-left: 5px;
    display: block;
    width: 50%;
    min-height: 30px;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    line-height: 30px;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
}

.add_request_btn_wrap {
    text-align: center;
    margin: 51px auto;
}

.add_request_btn_wrap input {
    background-color: #4446a9;
    padding: 8px 33.58px;
    color: #fff;
    cursor: pointer;
}
.project_name {
    max-width: 640px;
    width: 100%;
    margin-right: 40px;
}
.design_board_date {
    display: inline-block;
}
.design_board_date span {
    width: auto;
    margin: 0;
}
.reason_team {
    margin-left: 10px;
}
.add_request_info > h3 {
    background-color: #fff;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    line-height: 64px;
    padding: 0px 28px;
    border-bottom: 1px solid #333;
    font-size: 24px;
    font-weight: 600;
    color: #333;
}
.write_wrap .write_box {
    width: 100%;
    overflow-y: auto;
    padding-top: 76px;
    padding-bottom: 68px;
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.place_left {
    max-width: 716px;
    border: 3px solid rgba(153, 153, 153, 0.3);
    width: 100%;
}
.place_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid rgba(153, 153, 153, 0.3);
    background-color: #409b37;
    padding: 20px 21px 20px 29px;
}
.place_title > span {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}
.place_left_con {
    padding: 17px;
}
.place_main_img {
    display: flex;
    justify-content: space-evenly;
    object-fit: cover;
}
.place_main_img > img {
    max-width: 323px;
    width: 100%;
}
.place_main_img > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 323px;
}
.place_main_img > div > img {
    width: 49%;
}
.place_info {
    padding: 22px 13px 25px;
}
.place_dcname {
    display: flex;
    align-items: center;
}
.place_dcname {
    margin-bottom: 19px;
}
.place_dcname span {
    font-size: 30px;
    font-weight: 500;
    color: #bbbbbb;
    margin-left: 10px;
}
.place_info p {
    font-size: 24px;
    font-weight: 500;
    color: #666;
}
.place_right {
    max-width: 501px;
    border: 3px solid rgba(153, 153, 153, 0.3);
    width: 100%;
    padding: 34px 23px 42px;
    margin-left: 9px;
}
.place_dcname_sub h3 {
    font-size: 36px;
    font-weight: 600;
    color: #333;
    margin-bottom: 45px;
    display: flex;
    align-items: center;
}
.place_dcname_sub h3 > span {
    margin-left: 10px;
}
.place_dcname_sub h3 > img {
    margin-right: 21px;
}
.place_sub_img {
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.profile_box {
    width: 49%;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    border: 1px solid #dddddd;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}

.profile_box .upload {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    outline: none;
    background-image: url(/img/Add.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: #fff;
}

.profile_box .real_upload {
    display: none;
}

.profile_box img {
    width: 100%;
    height: 100%;
}
