body,
html {
    height: 100%;
    width: 100%;
    background-image: url(/img/login_bg.jpg?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.header {
    display: none !important;
}
#wrapper {
    border-radius: 20px;
    overflow: hidden;
}
.login_wrap {
    background: white;
    width: 650px;
}
.login_inner {
    padding: 80px 48px 0px;
}
.login_wrap h1 {
    font-size: 48px;
    font-weight: 500;
    margin-top: 36px;
    margin-bottom: 55px;
    color: #000;
}
.login_text {
    background-color: rgba(237, 238, 245, 0.94);
    border-radius: 12px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    color: #000;
    padding: 0px 20px;
}
.login_wrap .login_text input {
    background: transparent;
    border: none;
    border-radius: 0px;
    position: relative;
    font-size: 20px;
    font-weight: 500;
    color: #000;
    letter-spacing: normal;
    padding: 1.5rem 1rem;
    appearance: none;
    line-height: 1.5;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    font-family: 'Pretendard', sans-serif;
}
.form-group {
    margin-bottom: 1rem;
}
.login_wrap .login_text input:focus {
    box-shadow: none;
}
.login_wrap .login_text > span {
    width: 85px;
    display: inline-block;
    text-align: justify;
}
.login_text_line {
    width: 2px;
    height: 24px;
    background-color: #d9d9d9;
    margin-left: 13px;
}
.login_check {
    display: flex;
    font-size: 20px;
    font-weight: 400;
    color: #999;
    line-height: 24px;
    padding-left: 8px;
}
.login_save {
    margin-right: 22px;
}
#loginBtn {
    background-color: #4446a9;
    border-radius: 12px;
    font-size: 28px;
    font-weight: 500;
    line-height: 56px;
    margin: 34px 0px 20px;
    padding: 0px;
    display: inline-block;
    width: 100%;
    color: #fff;
}
.login_inner > p {
    font-size: 18px;
    font-weight: 400;
    color: #555;
    margin-bottom: 20px;
}
.login_inner > p > span {
    font-weight: 500;
    color: #333;
    margin-right: 16px;
}
.login_info {
    padding: 25px 0px 20px;
    background-color: #f2f2f2;
}
.login_info address {
    font-size: 16px;
    font-weight: 400;
    color: #555;
    margin-bottom: 12px;
}
.login_info span {
    font-size: 20px;
    font-weight: 400;
    color: #555;
}
@media screen and (max-width: 1600px) {
    .login_wrap {
        width: 420px;
    }
    .login_wrap h1 {
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .login_inner {
        padding: 30px 20px 0px;
    }
    .login_wrap .login_text > span {
        width: 60px;
    }
    .login_wrap .login_text input {
        font-size: 16px;
        width: 70%;
    }
    .login_check {
        font-size: 16px;
    }
    #loginBtn {
        font-size: 24px;
        line-height: 45px;
        margin: 0px 0px 20px;
    }
    .login_inner > p {
        font-size: 16px;
    }
    .login_info address {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .login_info span {
        font-size: 18px;
    }
    .login_info {
        padding: 18px 0px 15px;
    }
}
