.sidebar_wrap {
    max-width: 324px;
    width: 100%;
    background-color: #fff;
}
.sidebar_top {
    padding: 38px 24px 29px;
    border-radius: 0px 40px 0px 0px;
}
.sidebar_user {
    margin-top: 47px;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
}
.sidebar_user_info {
    display: flex;
    background-color: #4446a9;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.sidebar_user_left > span {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
.sidebar_user_grade {
    margin-left: 6px;
    opacity: 0.7;
}
.sidebar_user_right > a {
    transition: all 0.2s;
}
.sidebar_user_right > a:hover {
    opacity: 0.7;
}
.user_info_btn {
    margin-right: 7px;
}
.sidebar_user_menu {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #ecf3fc;
}
.sidebar_user_menu > a {
    width: 33.3%;
    padding: 15px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    transition: all 0.2s;
}
.sidebar_user_menu > a:hover {
    background-color: #b8d6fb;
}
.sidebar_user_menu02::after {
    content: '';
    display: block;
    top: 50%;
    right: 0px;
    position: absolute;
    transform: translateY(-50%);
    width: 1px;
    height: 48px;
    background-color: #c7d5e7;
}
.sidebar_user_menu02::before {
    content: '';
    display: block;
    top: 50%;
    left: 0px;
    position: absolute;
    transform: translateY(-50%);
    width: 1px;
    height: 48px;
    background-color: #c7d5e7;
}
.sidebar_bot {
    padding: 0px 24px 29px;
    /* overflow-y: scroll; */
}
.side_menu {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.side_menu > li {
    margin-bottom: 12px;
}
.side_menu > li:last-child {
    margin-bottom: 0px;
}
.side_menu > li > a {
    border-radius: 8px;
    background-color: #f2f2f2;
    padding: 0px 24px;
    font-size: 20px;
    font-weight: 600;
    color: #333;
    display: flex;
    align-items: center;
    width: 100%;
    line-height: 56px;
    transition: all 0.2s;
    position: relative;
    z-index: 1;
}
.side_menu > li > a > img {
    margin-right: 8px;
}
.side_menu > li > a:hover,
.side_menu > li > a.active,
.side_menu > li > a.open {
    color: #fff;
    background-color: #443f75;
}
.side_menu > li > a:hover > img,
.side_menu > li > a.active > img,
.side_menu > li > a.open > img {
    filter: brightness(10);
}
.side_sub_menu {
    display: none;
    border-radius: 0px 0px 4px 4px;
    padding: 20px 31px;
    background-color: #edf0f6;
    position: relative;
    margin-top: -5px;
}
.side_sub_menu a {
    font-size: 16px;
    font-weight: 400;
    color: #555;
}
.side_sub_menu li {
    margin-bottom: 8px;
}
.side_sub_menu li:last-child {
    margin-bottom: 0px;
}
