<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">

<!-- 부서교육자료  CSS -->
<th:block layout:fragment="customCSS">
    <link rel="stylesheet" href="/css/inb/department_training_materials.css" />
</th:block>

<body>
    <div layout:fragment="content" id="content-wrapper" class="d-flex flex-column">
        <h1> 부서교육자료 </h1>
    </div>
</body>

<!-- 부서교육자료  Javascript -->
<th:block layout:fragment="customJS">   
    <script src="/js/templates/inb/department_training_materials.js"></script>
</th:block>
</html>