<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">

<!-- 데이터 테이블을 위한 CSS -->
<th:block layout:fragment="customCSS">
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</th:block>

<body>
    <div layout:fragment="content" id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid">

                <!-- 네이버 플레이스 테이블 카드 -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">네이버 플레이스</h6>
                        <a href="/setting/naverForm" class="btn btn-primary btn-icon-split">
                            <span class="text">등록</span>
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <!-- 데이터 테이블 -->
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>번호</th>
                                        <th>제목</th>
                                        <th>작성자</th>
                                        <th>작성일</th>
                                        <th>조회</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- 데이터는 자바스크립트를 통해 동적으로 로드됩니다 -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

    </div>

    <!-- 데이터 테이블과 관련된 자바스크립트 파일 포함 -->
    <th:block layout:fragment="customJS">
        <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
        <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
        <script src="/js/demo/datatables-demo.js"></script>
        <script src="/js/templates/setting/naverPlace.js"></script>
    </th:block>
</body>

</html>
