<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">
    <!-- 업체 관리  CSS -->
    <th:block layout:fragment="customCSS">
        <link rel="stylesheet" href="/css/admin/csf/business_management.css" />
    </th:block>

    <body>
        <input type="hidden" id="memberList" name="memberList" th:value="${memberList ?: ''}" />
        <input type="hidden" id="snsList" name="snsList"       th:value="${snsList ?: ''}" />
        <div layout:fragment="content" id="content-wrapper" class="d-flex flex-column">
            <div class="bm_wrap">
                <h2>업체 관리</h2>
                <div class="bm_board">
                    <form action="" class="bm_board_top">
                        <div class="bm_board_date">
                            <label for="fr_date">
                                <input type="date" name="fr_date" th:value="${fr_date}" id="fr_date" class="frm_input" size="11" maxlength="10" />
                            </label>
                            <span>~</span>
                            <label for="to_date" >
                                <input type="date" name="to_date" th:value="${to_date}" id="to_date" class="frm_input" size="11" maxlength="10" />
                            </label>
                        </div>
                        <div class="bm_board_search">
                            <select name="searchType" id="searchType" class="search_sort" th:value="${searchType}">
                                <option value="selRegSiteName" th:selected="${searchType == 'selRegSiteName'}">업체명</option>
                                <option value="selRegUserName" th:selected="${searchType == 'selRegUserName'}">작성자</option>
                            </select>
                            <label for="sch_word">
                                <input type="text" name="search" size="20" th:value="${search}" id="sch_word" class="frm_input" />
                                <input type="button" value="검색" class="sch_btn" id="searchButton"/>
                            </label>
                        </div>
                        <div class="bm_board_btn"></div>
                        <a href="#" id="add_business_management" class="bm_reg">업체등록</a>
                    </form>
                    <table id="employeeTable" class="bm_board_table" cellspacing="0">
                        <thead class="bm_board_th">
                            <tr>
                                <th>날짜</th>
                                <th>업체명</th>
                                <th>원장명</th>
                                <th>상태</th>
                                <th>계약 여부</th>
                                <th>계약 일자</th>
                                <th>비고</th>
                            </tr>
                        </thead>
                        <tbody class="bm_board_td">
                        </tbody>
                    </table>
                    <nav class="pg_wrap">
                        <span class="pg" id="customPagination"></span>
                    </nav>
                </div>
            </div>
            <div class="bm_info_wrap" id="bm_info01">
                <div class="bm_info_bg">
                    <div class="bm_info_window">
                        <div class="bm_info_top">
                            <h2>업체 정보</h2>
                            <span class="bm_info_close"><img src="/img/member_info_close.svg" alt="닫기" /></span>
                        </div>
                        <div class="bm_info_section">
                            <div class="bm_info_s01">
                                <h3>
                                    <span class="bm_info_bname" id="siteName"></span>
                                    <div class="bm_info_state_box">
                                        <span class="bm_info_state01" id="strSiteStateLevel">보통</span>
                                    </div>
                                </h3>
                                <ul class="bm_info_list01">
                                    <li class="bm_info_cdate">
                                        <div class="bm_info_title"><h5>계약 기간</h5></div>
                                        <div class="bm_info_con">
                                            <p><span class="bm_info_cdate_s" id="contractSdate"></span> ~ <span class="bm_info_cdate_e" id="contractEdate"></span></p>
                                            <span class="bm_info_cont" id="strContractState"></span>
                                        </div>
                                    </li>
                                    <li class="bm_info_etc">
                                        <div class="bm_info_title"><h5>비고</h5></div>
                                        <div class="bm_info_con"><p id="strSiteOpenState"></p></div>
                                    </li>
                                    <li class="bm_info_type">
                                        <div class="bm_info_title"><h5>거래 내용</h5></div>
                                        <div class="bm_info_con">
                                            <p>
                                                <span class="bm_info_type1" id="transaction"></span>
                                                <!-- <span class="bm_info_type1">블로그</span> / <span class="bm_info_type2">홈페이지</span> / <span
                                                    class="bm_info_type3"
                                                    >브랜딩 영상</span
                                                > / <span class="bm_info_type4">유튜브 ( 본편 <span class="bm_info_type4_1">1</span> / 숏츠 <span class="bm_info_type4_2">2</span> )</span> -->
                                            </p>
                                        </div>
                                    </li>
                                    <!-- <li class="bm_info_post">
                                        <div class="bm_info_title"><h5>블로그 포스팅</h5></div>
                                        <div class="bm_info_con">
                                            <span class="post_total">6 (임상 <span class="post_i">2</span> / 홍보 <span class="post_m">2</span> / 관리 <span class="post_a">2</span>)</span>
                                        </div>
                                    </li> -->
                                    <li class="bm_info_homepage">
                                        <div class="bm_info_title"><h5>홈페이지</h5></div>
                                        <div class="bm_info_con"><p id="siteURL"></p></div>
                                    </li>
                                    <li class="bm_info_domein_date">
                                        <div class="bm_info_title"><h5>도메인 만료</h5></div>
                                        <div class="bm_info_con"><p id="siteDomainExpdt"></p></div>
                                    </li>
                                    <li class="bm_info_hosting_date">
                                        <div class="bm_info_title"><h5>호스팅 만료</h5></div>
                                        <div class="bm_info_con"><p id="siteHostingExpdt"></p></div>
                                    </li>
                                    <li class="bm_info_pic">
                                        <div class="bm_info_title"><h5>담당자 정보</h5></div>
                                        <div class="bm_info_con" ><p id="contactInformation"></p></div>
                                    </li>
                                    <li class="bm_info_address">
                                        <div class="bm_info_title"><h5>주소</h5></div>
                                        <div class="bm_info_con"><p id="adress"></p></div>
                                    </li>
                                    <li class="bm_info_memo">
                                        <div class="bm_info_title">
                                            <h5>특이사항 <span>(메모)</span></h5>
                                        </div>
                                        <div class="bm_info_con">
                                            <p id="memo"></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="bm_info_s02">
                                <h4>계정정보</h4>
                                <ul class="bm_info_list02">
                                    <li class="bm_info_acc01">
                                        <div class="bm_info_title"><h5>카페24</h5></div>
                                        <div class="bm_info_con">
                                            <p>도메인 :&nbsp;<span class="bm_info_acc01_dm" id="CAFE24siteDomain"></span>
                                                <div class="bm_info_line"></div>
                                                ID :&nbsp;<span class="bm_info_acc01_id" id="CAFE24id"></span>
                                                <div class="bm_info_line"></div>
                                                PW :&nbsp;<span class="bm_info_acc01_pw" id="CAFE24pw"></span>
                                            </p>
                                        </div>
                                    </li>
                                    <li class="bm_info_acc02">
                                        <div class="bm_info_title"><h5>FTP정보</h5></div>
                                        <div class="bm_info_con">
                                            <p>도메인 :&nbsp;<span class="bm_info_acc01_dm" id="FTPsiteDomain"></span>
                                                <div class="bm_info_line"></div>
                                                ID :&nbsp;<span class="bm_info_acc01_id" id="FTPid"></span>
                                                <div class="bm_info_line"></div>
                                                PW :&nbsp;<span class="bm_info_acc01_pw" id="FTPpw"></span>
                                            </p>
                                        </div>
                                    </li>
                                    <li class="bm_info_acc03">
                                        <div class="bm_info_title"><h5>홈페이지 관리자 정보</h5></div>
                                        <div class="bm_info_con">
                                            <p>도메인 :&nbsp;<span class="bm_info_acc01_dm" id="HOMEPAGEsiteDomain"></span>
                                                <div class="bm_info_line"></div>
                                                ID :&nbsp;<span class="bm_info_acc01_id" id="HOMEPAGEid"></span>
                                                <div class="bm_info_line"></div>
                                                PW :&nbsp;<span class="bm_info_acc01_pw" id="HOMEPAGEpw"></span>
                                            </p>
                                        </div>
                                    </li>
                                    <li class="bm_info_acc04">
                                        <div class="bm_info_title"><h5>네이버 블로그</h5></div>
                                        <div class="bm_info_con">
                                            <p>도메인 :&nbsp;<span class="bm_info_acc01_dm" id="NAVER_BLOGsiteDomain"></span>
                                                ID :&nbsp;<span class="bm_info_acc01_id" id="NAVER_BLOGid"></span>
                                                <div class="bm_info_line"></div>
                                                PW :&nbsp;<span class="bm_info_acc01_pw" id="NAVER_BLOGpw"></span>
                                            </p>
                                        </div>
                                    </li>
                                    <li class="bm_info_acc05">
                                        <div class="bm_info_title"><h5>네이버 블로그2</h5></div>
                                        <div class="bm_info_con">
                                            <p>도메인 :&nbsp;<span class="bm_info_acc01_dm" id="NAVER_BLOG2siteDomain"></span>
                                                ID :&nbsp;<span class="bm_info_acc01_id" id="NAVER_BLOG2id"></span>
                                                <div class="bm_info_line"></div>
                                                PW :&nbsp;<span class="bm_info_acc01_pw" id="NAVER_BLOG2pw"></span>
                                            </p>
                                        </div>
                                    </li>
                                    <li class="bm_info_acc06">
                                        <div class="bm_info_title"><h5>플레이스</h5></div>
                                        <div class="bm_info_con">
                                            <p>도메인 :&nbsp;<span class="bm_info_acc01_dm" id="NAVER_PLACEsiteDomain"></span>
                                                ID :&nbsp;<span class="bm_info_acc01_id" id="NAVER_PLACEid"></span>
                                                <div class="bm_info_line"></div>
                                                PW :&nbsp;<span class="bm_info_acc01_pw" id="NAVER_PLACEpw"></span>
                                            </p>
                                        </div>
                                    </li>
                                    <li class="bm_info_acc07">
                                        <div class="bm_info_title"><h5>네이버 광고</h5></div>
                                        <div class="bm_info_con">
                                            <p>도메인 :&nbsp;<span class="bm_info_acc01_dm" id="NAVER_ADsiteDomain"></span>
                                                ID :&nbsp;<span class="bm_info_acc01_id" id="NAVER_ADid"></span>
                                                <div class="bm_info_line"></div>
                                                PW :&nbsp;<span class="bm_info_acc01_pw" id="NAVER_ADpw"></span>
                                            </p>
                                        </div>
                                    </li>
                                    <li class="bm_info_acc08">
                                        <div class="bm_info_title"><h5>카카오 비즈니스</h5></div>
                                        <div class="bm_info_con">
                                            <p>도메인 :&nbsp;<span class="bm_info_acc01_dm" id="KAKAO_BIZsiteDomain"></span>
                                                ID :&nbsp;<span class="bm_info_acc01_id" id="KAKAO_BIZid"></span>
                                                <div class="bm_info_line"></div>
                                                PW :&nbsp;<span class="bm_info_acc01_pw" id="KAKAO_BIZpw"></span>
                                            </p>
                                        </div>
                                    </li>
                                    <li class="bm_info_acc09">
                                        <div class="bm_info_title"><h5>인스타그램</h5></div>
                                        <div class="bm_info_con">
                                            <p>도메인 :&nbsp;<span class="bm_info_acc01_dm" id="INSTAGRAMsiteDomain"></span>
                                                ID :&nbsp;<span class="bm_info_acc01_id" id="INSTAGRAMid"></span>
                                                <div class="bm_info_line"></div>
                                                PW :&nbsp;<span class="bm_info_acc01_pw" id="INSTAGRAMpw"></span>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="bm_info_s03">
                                <h4>업체 담당자 정보</h4>
                                <ul class="bm_info_list03">
                                    <li class="bm_info_host">
                                        <div class="bm_info_hname">
                                            <div class="bm_info_title"><h5>성명</h5></div>
                                            <div class="bm_info_con"><p id="ceoName"></p></div>
                                        </div>
                                        <div class="bm_info_hdate">
                                            <div class="bm_info_title"><h5>생년월일</h5></div>
                                            <div class="bm_info_con"><p>1999.12.12</p></div>
                                        </div>
                                    </li>
                                    <li class="bm_info_hphone">
                                        <div class="bm_info_title"><h5>연락처</h5></div>
                                        <div class="bm_info_con">
                                            <p id="managerPhone"></p>
                                        </div>
                                    </li>
                                    <li class="bm_info_hmail">
                                        <div class="bm_info_title"><h5>이메일</h5></div>
                                        <div class="bm_info_con"><p id="managerEmail"></p></div>
                                    </li>
                                </ul>
                            </div>
                            <div class="bm_info_s04">
                                <h4>업체 관련 서류</h4>
                                <ul class="bm_info_list04">
                                    <li class="bm_info_file01">
                                        <div class="bm_info_title"><h5>사업자등록증</h5></div>
                                        <div class="bm_info_con">
                                            <a href="#" id="imgBusinessRegNo" onclick="downloadFile('imgBusinessRegNo')" ></a>
                                        </div>
                                    </li>
                                    <li class="bm_info_file02">
                                        <div class="bm_info_title"><h5>개설필증</h5></div>
                                        <div class="bm_info_con">
                                            <a href="#" id="imgDoctorLicense" onclick="downloadFile('imgDoctorLicense')" ></a>
                                        </div>
                                    </li>
                                    <li class="bm_info_file03">
                                        <div class="bm_info_title"><h5>의사 면허증</h5></div>
                                        <div class="bm_info_con">
                                            <a href="#" id="imgDegreeCertificate" onclick="downloadFile('imgDegreeCertificate')" ></a>
                                        </div>
                                    </li>
                                    <li class="bm_info_file04">
                                        <div class="bm_info_title"><h5>전문의 자격증</h5></div>
                                        <div class="bm_info_con">
                                            <a href="#" id="imgDesignAssets" onclick="downloadFile('imgDesignAssets')" ></a>
                                        </div>
                                    </li>
                                    <li class="bm_info_file05">
                                        <div class="bm_info_title"><h5>학위증</h5></div>
                                        <div class="bm_info_con">
                                            <a href="#" id="imgOpenCertificate" onclick="downloadFile('imgOpenCertificate')" ></a>
                                        </div>
                                    </li>
                                    <li class="bm_info_file06">
                                        <div class="bm_info_title"><h5>이외 자료</h5></div>
                                        <div class="bm_info_con">
                                            <a href="#" id="imgSpecialistLicense" onclick="downloadFile('imgSpecialistLicense')" ></a>
                                        </div>
                                    </li>
                                    <li class="bm_info_file07">
                                        <div class="bm_info_title"><h5>디자인 활용 자료</h5></div>
                                        <div class="bm_info_con">
                                            <a href="#" id="imgEtcFiles" onclick="downloadFile('imgEtcFiles')" ></a>
                                        </div>
                                    </li>
                                    <li class="bm_info_file08">
                                        <div class="bm_info_title"><h5>이외 이미지</h5></div>
                                        <div class="bm_info_con">
                                            <a href="#" id="imgEtc" onclick="downloadFile('imgEtc')" ></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="bm_info_btn_wrap">
                                <a href="#" class="bm_info_btn" id="Registration" >정보수정</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <!-- 업체 관리  Javascript -->
    <th:block layout:fragment="customJS">
        <script src="/js/templates/admin/csf/business_management.js"></script>
    </th:block>
</html>
