<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">

<!-- 임상글 요청  CSS -->
<th:block layout:fragment="customCSS">
    <link rel="stylesheet" href="/css/admin/csf/clinical_writing.css" />
</th:block>

<body>
    <div layout:fragment="content" id="content-wrapper" class="d-flex flex-column">
        <h1> 임상글 요청 </h1>
    </div>
</body>

<!-- 임상글 요청  Javascript -->
<th:block layout:fragment="customJS">   
    <script src="/js/templates/admin/csf/clinical_writing.js"></script>
</th:block>
</html>