<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">
    <!-- 유지보수  CSS -->
    <th:block layout:fragment="customCSS">
        <link rel="stylesheet" href="/css/admin/csf/maintenance_write.css" />
    </th:block>

    <body>
        <div layout:fragment="content" id="content-wrapper" class="d-flex flex-column">
            <div class="add_request_wrap">
                <h2>글쓰기</h2>
                <div class="add_reauest_board">
                    <form action="">
                        <div class="add_request_info">
                            <table cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td class="add_request_title required_on">게시판 구분</td>
                                        <td>
                                            <select name="" id="" required>
                                                <option value="" selected disabled>선택</option>
                                                <option value="디자인요청">디자인요청</option>
                                                <option value="디자인요청">디자인요청</option>
                                                <option value="디자인요청">디자인요청</option>
                                                <option value="디자인요청">디자인요청</option>
                                            </select>
                                        </td>
                                        <td class="add_request_title">디자인 타입</td>
                                        <td style="width: 42%">
                                            <div class="radio_wrap">
                                                <label> <input type="radio" value="온라인 시안" name="design_sel" checked />온라인 시안 </label>
                                                <label> <input type="radio" value="오프라인 시안" name="design_sel" />오프인 시안 </label>
                                                <label> <input type="radio" value="세팅 시안" name="design_sel" />세팅 시안 </label>
                                                <label> <input type="radio" value="홈페이지" name="design_sel" />홈페이지 </label>
                                                <label> <input type="radio" value="기타" name="design_sel" />기타 </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="add_request_per">
                                        <td class="add_request_title required_on">작성자</td>
                                        <td colspan="3">
                                            <label for=""> 작성자<input type="text" required class="name_box" /> </label>
                                            <label for=""> 담당자<input type="text" class="name_box" /> </label>
                                            <label for=""> 연락처<input type="tel" /> </label>
                                            <label for=""> E-mail<input type="email" /> </label>
                                        </td>
                                    </tr>
                                    <tr class="add_request_ch">
                                        <td class="add_request_title">제목</td>
                                        <td colspan="3">
                                            <label>
                                                <input type="checkbox" />
                                            </label>
                                            <label> <input type="checkbox" />공지 </label>
                                            <input type="text" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="add_request_title">관련페이지</td>
                                        <td colspan="3">URL<input type="text" style="width: 1044px; margin-left: 60px" /></td>
                                    </tr>
                                    <tr>
                                        <td class="add_request_title">접수상태</td>
                                        <td colspan="3">
                                            <div class="radio_wrap">
                                                <label> <input type="radio" value="기타" name="design_con" checked />기타 </label>
                                                <label> <input type="radio" value="접수" name="design_con" />접수 </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" style="padding: 18px 22px; border: none">
                                            <textarea name="" id=""></textarea>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="add_request_file">
                            <div class="add_request_title">첨부파일</div>
                            <div class="add_bm_con">
                                <div>
                                    <input type="file" name="" id="bm_file01" multiple />
                                    <label class="bm_file_btn" for="bm_file01">파일선택</label>
                                    <span class="bm_file_text">선택된 파일이 없습니다.</span>
                                </div>
                                <div class="file_bottom_box">
                                    <p>총 '10'개의 파일을 첨부할수 있습니다.</p>
                                    <p>파일당 용량 제한은 '100MB' 입니다.</p>
                                    <p>
                                        업로드는 [jpg, gif, png, bmp, doc, ppt, pdf, xls, zip, alz, swf, flv, hwp, xlsx, pptx, docx, pps, ppsx, tif,
                                        wmv, hwpx, jpeg, pptm, txt]파일만 가능합니다.
                                    </p>
                                    <p>업로드 파일 제한 해제는 관리자에게 문의 해주세요.</p>
                                </div>
                            </div>
                        </div>
                        <div class="add_request_btn_wrap">
                            <input type="button" value="목록" class="add_emp_btn" style="background-color: transparent; color: #333" />
                            <input type="button" value="등록하기" class="add_emp_btn" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>

    <!-- 유지보수  Javascript -->
    <th:block layout:fragment="customJS">
        <script src="/js/templates/admin/csf/maintenance_write.js"></script>
    </th:block>
</html>
