<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
    <!-- 유지보수  CSS -->
    <th:block layout:fragment="customCSS">
        <link rel="stylesheet" href="/css/admin/csf/maintenance.css" />
    </th:block>

    <body>
        <div layout:fragment="content" id="content-wrapper" class="d-flex flex-column">
            <div class="mt_wrap">
                <h2>유지보수 게시판</h2>
                <div class="mt_board">
                    <div class="main_board_menu">
                        <div class="main_board_state">
                            <span class="active state_receive">접수</span>
                            <span class="state_check">확인</span>
                            <span class="state_progress">진행</span>
                            <span class="state_complete">완료</span>
                            <span class="state_other">기타</span>
                            <span class="state_hold">보류</span>
                        </div>
                        <div class="main_board_category">
                            <span class="cat_mk">마케팅 / 기획<span class="category_count">10</span></span>
                            <span class="cat_ec">광고관리<span class="category_count">10</span></span>
                            <span class="cat_dg active">디자인<span class="category_count">10</span></span>
                            <span class="cat_pb">퍼블리싱</span>
                            <span class="cat_bd">영상</span>
                            <span class="cat_cp">관리</span>
                            <span class="cat_fn">재무</span>
                        </div>
                    </div>
                    <form action="" class="mt_board_top">
                        <div class="mt_board_date">
                            <input type="date" name="" id="fr_date" class="fr_date" value="2024-07-15" />
                            <span>~</span>
                            <input type="date" name="" id="to_date" class="to_date" value="2024-07-15" />
                        </div>
                        <div class="mt_board_search">
                            <select name="sfl" id="sch_sort" class="search_sort">
                                <option value="mt_bn">업체명</option>
                                <option value="mt_wn">작성자</option>
                            </select>
                            <label for="sch_word"><input type="text" name="stx" size="20" value="" id="sch_word" class="frm_input" /> <input type="submit" value="검색" class="sch_btn" /></label>
                        </div>
                        <div class="mt_board_btn">
                            <button class="mt_board_refrash"><img src="/img/bm_board_refrash.svg" alt="새로고침" /></button>
                            <a href="#" class="mt_board_mybtn">My</a>
                        </div>
                        <!-- 업체측에서 글쓰기 -->
                        <!-- <a href="#" class="mt_reg">글쓰기</a> -->
                    </form>
                    <table class="mt_board_table" cellspacing="0">
                        <thead class="mt_board_th">
                            <tr>
                                <th>날짜</th>
                                <th>완료 예정</th>
                                <th>업체명</th>
                                <th>작성자</th>
                                <th>상태</th>
                                <th>부서</th>
                                <th>제목</th>
                                <th>담당자</th>
                            </tr>
                        </thead>
                        <tbody class="mt_board_td">
                            <tr>
                                <td class="mt_wr_wdate"><span class="list_today">오늘</span>17:52</td>
                                <td class="mt_wr_fday">2024.07.15</td>
                                <td class="mt_wr_cp"><a href="/admin/csf/maintenance_view">안양바른플러스치과</a></td>
                                <td class="mt_wr_name">박세용 원장</td>
                                <td class="mt_wr_state">
                                    <span class="main_board_wrstate state_progress"
                                        >진행
                                        <ul class="state_select">
                                            <li><span class="state_receive">접수</span></li>
                                            <li><span class="state_check">확인</span></li>
                                            <li><span class="state_progress">진행</span></li>
                                            <li><span class="state_complete">완료</span></li>
                                            <li><span class="state_other">기타</span></li>
                                            <li><span class="state_hold">보류</span></li>
                                        </ul>
                                    </span>
                                </td>
                                <td class="mt_wr_category">
                                    <span class="main_board_wrcategory cat_cp"
                                        >관리
                                        <ul class="category_select">
                                            <li><span class="cat_no">미처리</span></li>
                                            <li><span class="cat_mk">마케팅 / 기획</span></li>
                                            <li><span class="cat_ec">광고관리</span></li>
                                            <li><span class="cat_dg">디자인</span></li>
                                            <li><span class="cat_pb">퍼블리싱</span></li>
                                            <li><span class="cat_bd">영상</span></li>
                                            <li><span class="cat_cp">관리</span></li>
                                            <li><span class="cat_fn">재무</span></li>
                                        </ul>
                                    </span>
                                </td>
                                <td class="mt_wr_subject">
                                    <a href="/admin/csf/maintenance_view">홈페이지 수정 부탁드립니다.</a><span class="main_board_comment">3</span>
                                    <img src="/img/main_board_file.svg" alt="파일첨부" class="main_board_file" />
                                </td>
                                <td class="mt_wr_wkname wk_empty">
                                    <span>미정</span>
                                    <label for="mt_pic">
                                        <select name="mtMember1" id="mtMember1" class="mt_pic" placeholder="미정"></select>
                                        <button class="mt_pic_plus" type="button"><img src="/img/main_plus.svg" alt="플러스" /></button>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="mt_wr_wdate"><span class="list_today">오늘</span>17:52</td>
                                <td class="mt_wr_fday">2024.07.15</td>
                                <td class="mt_wr_cp"><a href="/admin/csf/maintenance_view">안양바른플러스치과</a></td>
                                <td class="mt_wr_name">박세용 원장</td>
                                <td class="mt_wr_state">
                                    <span class="main_board_wrstate state_progress"
                                        >진행
                                        <ul class="state_select">
                                            <li><span class="state_receive">접수</span></li>
                                            <li><span class="state_check">확인</span></li>
                                            <li><span class="state_progress">진행</span></li>
                                            <li><span class="state_complete">완료</span></li>
                                            <li><span class="state_other">기타</span></li>
                                            <li><span class="state_hold">보류</span></li>
                                        </ul>
                                    </span>
                                </td>
                                <td class="mt_wr_category">
                                    <span class="main_board_wrcategory cat_cp"
                                        >관리
                                        <ul class="category_select">
                                            <li><span class="cat_no">미처리</span></li>
                                            <li><span class="cat_mk">마케팅 / 기획</span></li>
                                            <li><span class="cat_ec">광고관리</span></li>
                                            <li><span class="cat_dg">디자인</span></li>
                                            <li><span class="cat_pb">퍼블리싱</span></li>
                                            <li><span class="cat_bd">영상</span></li>
                                            <li><span class="cat_cp">관리</span></li>
                                            <li><span class="cat_fn">재무</span></li>
                                        </ul>
                                    </span>
                                </td>
                                <td class="mt_wr_subject">
                                    <a href="/admin/csf/maintenance_view">홈페이지 수정 부탁드립니다.</a><span class="main_board_comment">3</span>
                                    <img src="/img/main_board_file.svg" alt="파일첨부" class="main_board_file" />
                                </td>
                                <td class="mt_wr_wkname">이슬</td>
                            </tr>
                            <tr>
                                <td class="mt_wr_wdate">2024.07.01</td>
                                <td class="mt_wr_fday">2024.07.15</td>
                                <td class="mt_wr_cp"><a href="/admin/csf/maintenance_view">안양바른플러스치과</a></td>
                                <td class="mt_wr_name">박세용 원장</td>
                                <td class="mt_wr_state">
                                    <span class="main_board_wrstate state_complete"
                                        >완료
                                        <ul class="state_select">
                                            <li><span class="state_receive">접수</span></li>
                                            <li><span class="state_check">확인</span></li>
                                            <li><span class="state_progress">진행</span></li>
                                            <li><span class="state_complete">완료</span></li>
                                            <li><span class="state_other">기타</span></li>
                                            <li><span class="state_hold">보류</span></li>
                                        </ul>
                                    </span>
                                </td>
                                <td class="mt_wr_category">
                                    <span class="main_board_wrcategory cat_pb"
                                        >퍼블리싱
                                        <ul class="category_select">
                                            <li><span class="cat_no">미처리</span></li>
                                            <li><span class="cat_mk">마케팅 / 기획</span></li>
                                            <li><span class="cat_ec">광고관리</span></li>
                                            <li><span class="cat_dg">디자인</span></li>
                                            <li><span class="cat_pb">퍼블리싱</span></li>
                                            <li><span class="cat_bd">영상</span></li>
                                            <li><span class="cat_cp">관리</span></li>
                                            <li><span class="cat_fn">재무</span></li>
                                        </ul>
                                    </span>
                                </td>
                                <td class="mt_wr_subject">
                                    <a href="/admin/csf/maintenance_view">홈페이지 수정 부탁드립니다.</a><span class="main_board_comment">3</span>
                                    <img src="/img/main_board_file.svg" alt="파일첨부" class="main_board_file" />
                                </td>
                                <td class="mt_wr_wkname">이슬</td>
                            </tr>
                        </tbody>
                    </table>
                    <nav class="pg_wrap">
                        <span class="pg">
                            <a href="#" class="pg_page pg_start">처음</a>
                            <a href="#" class="pg_page pg_prev">이전</a>
                            <strong class="pg_current">1</strong>
                            <a href="#" class="pg_page">2</a>
                            <a href="#" class="pg_page">3</a>
                            <a href="#" class="pg_page">4</a>
                            <a href="#" class="pg_page">5</a>
                            <a href="#" class="pg_page">6</a>
                            <a href="#" class="pg_page">7</a>
                            <a href="#" class="pg_page">8</a>
                            <a href="#" class="pg_page">9</a>
                            <a href="#" class="pg_page">10</a>
                            <a href="#" class="pg_page pg_next">다음</a>
                            <a href="#" class="pg_page pg_end">맨끝</a>
                        </span>
                    </nav>
                </div>
            </div>
        </div>
    </body>

    <!-- 유지보수  Javascript -->
    <th:block layout:fragment="customJS">
        <script src="/js/templates/admin/csf/maintenance.js"></script>
    </th:block>
</html>
