<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
    <!-- 유지보수  CSS -->
    <th:block layout:fragment="customCSS">
        <link rel="stylesheet" href="/css/admin/csf/maintenance.css" />
    </th:block>

    <body>
        <div layout:fragment="content" id="content-wrapper" class="d-flex flex-column">
            <div class="mt_wrap">
                <h2>유지보수 게시판</h2>
                <div class="mt_board">
                    <div class="main_board_menu">
                        <div class="main_board_state">
                            <span class="active state_receive">접수</span>
                            <span class="state_check">확인</span>
                            <span class="state_progress">진행</span>
                            <span class="state_complete">완료</span>
                            <span class="state_other">기타</span>
                            <span class="state_hold">보류</span>
                        </div>
                    </div>
                    <form action="" class="mt_board_top">
                        <div class="mt_board_date">
                            <input type="date" name="" id="fr_date" class="fr_date" value="2024-07-15" />
                            <span>~</span>
                            <input type="date" name="" id="to_date" class="to_date" value="2024-07-15" />
                        </div>
                        <div class="mt_board_search">
                            <select name="sfl" id="sch_sort" class="search_sort">
                                <option value="mt_bn">업체명</option>
                                <option value="mt_wn">작성자</option>
                            </select>
                            <label for="sch_word"><input type="text" name="stx" size="20" value="" id="sch_word" class="frm_input" /> <input type="submit" value="검색" class="sch_btn" /></label>
                        </div>
                        <div class="mt_board_btn">
                            <button class="mt_board_refrash"><img src="/img/bm_board_refrash.svg" alt="새로고침" /></button>
                            <a href="#" class="mt_board_mybtn">My</a>
                        </div>
                        <!-- 업체측에서 글쓰기 -->
                        <a href="/enterprise/csf/maintenance_write" class="mt_reg">글쓰기</a>
                    </form>
                    <table class="mt_board_table" cellspacing="0" id="maintenanceTable">
                        <thead class="mt_board_th">
                            <tr>
                                <th>업무 요청일</th>
                                <th>작성자</th>
                                <th>상태</th>
                                <th>부서</th>
                                <th>제목</th>
                                <th>필요 날짜</th>
                                <th>완료 예정일</th>
                            </tr>
                        </thead>
                        <tbody class="mt_board_td">
                        </tbody>
                    </table>
                    <nav class="pg_wrap">
                        <span class="pg" id="customPagination"></span>
                    </nav>
                </div>
            </div>
        </div>
    </body>

    <!-- 유지보수  Javascript -->
    <th:block layout:fragment="customJS">
        <script src="/js/templates/enterprise/csf/maintenance.js"></script>
    </th:block>
</html>
