<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">
    <aside th:fragment="sidebar" class="sidebar">
        <!-- Sidebar -->
        <div class="sidebar_wrap">
            <div class="sidebar_top">
                <a class="sidebar_logo" href="#"><img src="/img/sidebar_logo.svg" alt="주식회사 그룹디" /></a>
                <div class="sidebar_user">
                    <div class="sidebar_user_info">
                        <div class="sidebar_user_left">
                            <span class="sidebar_user_name">이수은</span>
                            <span class="sidebar_user_grade">디자인팀 과장</span>
                        </div>
                        <div class="sidebar_user_right">
                            <a href="#" class="user_info_btn"><img src="/img/sidebar_user_right01.svg" alt="회원정보" /></a>
                            <a href="#" class="user_logout_btn"><img src="/img/sidebar_user_right02.svg" alt="로그아웃" /></a>
                        </div>
                    </div>
                    <div class="sidebar_user_menu">
                        <a href="#" class="sidebar_user_menu01"><img src="/img/sidebar_user_menu01.svg" alt="부서 업무" />부서 업무</a>
                        <a href="#" class="sidebar_user_menu02"><img src="/img/sidebar_user_menu02.svg" alt="포트폴리오" />포트폴리오</a>
                        <a href="#" class="sidebar_user_menu03"><img src="/img/sidebar_user_menu03.svg" alt="업무일지" />업무일지</a>
                    </div>
                </div>
            </div>
            <div class="sidebar_bot">
                <ul class="side_menu">
                    <li class="side_menu01">
                        <a href="/dsb/main" class="active"><img src="/img/side_menu01.svg" alt="대시보드 홈" />대시보드 홈</a>
                    </li>
                    <li class="side_menu02">
                        <a href="#"><img src="/img/side_menu02.svg" alt="프로젝트 정보" />프로젝트 정보</a>
                        <ul class="side_sub_menu">
                            <li><a href="/pif/marketing_plan">마케팅 / 기획</a></li>
                            <li><a href="/pif/ad_management">광고관리</a></li>
                            <li><a href="/pif/design">디자인</a></li>
                            <li><a href="/pif/publisher">퍼블리싱</a></li>
                            <li><a href="/pif/management">관리</a></li>
                            <li><a href="/pif/video">영상</a></li>
                        </ul>
                    </li>
                    <li class="side_menu03">
                        <a href="#none"><img src="/img/side_menu03.svg" alt="고객지원 게시판" />고객지원 게시판</a>
                        <ul class="side_sub_menu">
                            <li><a href="/csf/maintenance">유지보수 게시판</a></li>
                            <li><a href="/csf/medical _schedule">진료일정 게시판</a></li>
                            <li><a href="/csf/clinical_writing">임상글 요청 게시판</a></li>
                            <li><a href="/csf/business_management">업체관리</a></li>
                        </ul>
                    </li>
                    <li class="side_menu04">
                        <a href="#none"><img src="/img/side_menu04.svg" alt="인트라넷" />인트라넷</a>
                        <ul class="side_sub_menu">
                            <li><a href="/ina/mailbox">메일함</a></li>
                            <li><a href="/ina/reservation">예약</a></li>
                            <li><a href="/ina/electronic_payment">전자결재</a></li>
                            <li><a href="/ina/document_management">문서관리</a></li>
                        </ul>
                    </li>
                    <li class="side_menu05">
                        <a href="/cec/calendar"><img src="/img/side_menu05.svg" alt="캘린더" />캘린더</a>
                    </li>
                    <li class="side_menu06">
                        <a href="#none"><img src="/img/side_menu06.svg" alt="사내 게시판" />사내 게시판</a>
                        <ul class="side_sub_menu">
                            <li><a href="/inb/electronic_board">전자 게시판</a></li>
                            <li><a href="/inb/departmental_board">부서 게시판</a></li>
                            <li><a href="/inb/department_training_materials">부서 교육자료</a></li>
                            <li><a href="/inb/client_meeting_history">거래처/히스토리미팅 히스토리</a></li>
                        </ul>
                    </li>
                    <li class="side_menu07">
                        <a href="#none"><img src="/img/side_menu07.svg" alt="사원관리" />사원관리</a>
                        <ul class="side_sub_menu">
                            <li><a href="/ems/employees">사원 목록</a></li>
                            <li><a href="/ems/attendance">근태 관리</a></li>
                        </ul>
                    </li>
                    <li class="side_menu08">
                        <a href="#none"><img src="/img/side_menu08.svg" alt="부가관리" />부가관리</a>
                        <ul class="side_sub_menu">
                            <li><a href="/amt/modifying_information">정보 수정</a></li>
                            <li><a href="/amt/new_client">신규 거래처 관리 (특수 페이지)</a></li>
                            <li><a href="/amt/risky_client">불안 거래처 관리 (특수 페이지)</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </aside>
</html>
