<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
    <header th:fragment="header" class="header">
        <div class="modal_bg"></div>
        <div class="hd_wrap">
            <div class="hd_center sub_center">
                <div class="hd_top">
                    <div class="hd_search_wrap">
                        <span class="hd_search_btn">
                            내용 검색
                            <img src="/img/hd_search_btn.svg" alt="찾기" />
                        </span>
                        <div class="hd_search_modal">
                            <div class="search_modal_top">
                                <h3>휴진일정<span class="search_modal_count">(126)</span></h3>
                                <span class="search_modal_close"><img src="/img/search_modal_close.svg" alt="닫기" /></span>
                            </div>
                            <div class="search_modal_input">
                                <form class="search_modal_form">
                                    <input type="text" class="pre" name="hd_search_name" id="hd_search_name" placeholder="휴진" />
                                    <input type="button" class="hd_search_submit pre" value="검색" />
                                    <button type="reset" class="hd_search_reset"><img src="/img/hd_search_reset.svg" alt="새로고침" /></button>
                                </form>
                            </div>
                            <ul class="hd_search_list_wrap">
                                <li class="hd_search_list">
                                    <a href="#none">[서울스마트치과] 7월 휴진일 전달드립니다.</a>
                                </li>
                                <li class="hd_search_list">
                                    <a href="#none">[서울스마트치과] 6월 휴진일 전달드립니다.</a>
                                </li>
                                <li class="hd_search_list">
                                    <a href="#none">[서울스마트치과] 5월 휴진일 전달드립니다.</a>
                                </li>
                                <li class="hd_search_list">
                                    <a href="#none">[서울스마트치과] 4월 휴진일 전달드립니다.</a>
                                </li>
                                <li class="hd_search_list">
                                    <a href="#none">[서울스마트치과] 3월 휴진일 전달드립니다.</a>
                                </li>
                                <li class="hd_search_list">
                                    <a href="#none">[서울스마트치과] 2월 휴진일 전달드립니다.</a>
                                </li>
                                <li class="hd_search_list">
                                    <a href="#none">[서울스마트치과] 1월 휴진일 전달드립니다.</a>
                                </li>
                                <li class="hd_search_list">
                                    <a href="#none">[서울스마트치과] 2023.12월 휴진일 전달드립니다.</a>
                                </li>
                                <li class="hd_search_list">
                                    <a href="#none">[서울스마트치과] 2023.11월 휴진일 전달드립니다.</a>
                                </li>
                                <li class="hd_search_list">
                                    <a href="#none">[서울스마트치과] 2023.10월 휴진일 전달드립니다.</a>
                                </li>
                                <li class="hd_search_list">
                                    <a href="#none">[서울스마트치과] 2023.9월 전달드립니다.</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="hd_side main_side">
                <div class="hd_menu01">
                    <a href="#"><img src="/img/hd_menu01.svg" alt="수신함" /><span class="alert_count">10</span></a>
                </div>
                <div class="hd_menu02">
                    <a href="#"><img src="/img/hd_menu02.svg" alt="캘린더" /><span class="calender_count">111</span></a>
                </div>
                <div class="hd_menu03">
                    <a href="#"><img src="/img/hd_menu03.svg" alt="연락처" /></a>
                </div>
                <div class="hd_menu04">
                    <a href="#"
                        ><img src="/img/hd_menu04.png" alt="마이페이지" /><span class="hd_menu_arrow"><img src="/img/hd_menu_arrow.svg" alt="확장" /></span
                    ></a>
                </div>
            </aside>
        </div>
    </header>
</html>
