<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
    <aside th:fragment="sidebar" class="sidebar">
        <!-- Sidebar -->
        <input type="hidden" id="siteKey" th:value="${member.siteKey}" />
        <div class="sidebar_wrap">
            <div class="sidebar_top">
                <a class="sidebar_logo" href="/enterprise/main"><img src="/img/sidebar_logo.svg" alt="주식회사 그룹디" /></a>
                <div class="sidebar_user">
                    <div class="sidebar_user_info">
                        <div class="sidebar_user_left">
                            <span class="sidebar_user_name" th:text="${member.name}"></span>
                            <span class="sidebar_user_grade" th:text="${member.codeName}"></span>
                            <input type="hidden" id="userid" th:value="${member.userid}" />
                        </div>
                        <div class="sidebar_user_right">
                            <a href="#" class="user_info_btn" id="member_info"><img src="/img/sidebar_user_right01.svg" alt="회원정보" /></a>
                            <a href="#" class="user_logout_btn" id="member_logout"><img src="/img/sidebar_user_right02.svg" alt="로그아웃" /></a>
                        </div>
                    </div>
                    <div class="sidebar_user_menu">
                        <a href="/admin/pif/design_portfolio" class="sidebar_user_menu02" style="width: 50%"><img src="/img/sidebar_user_menu02.svg" alt="my 요청건" />my 요청건</a>
                        <a href="#" id="Modifying_Information" class="sidebar_user_menu03" style="width: 50%"><img src="/img/sidebar_user_menu03.svg" alt="정보 수정" />정보 수정</a>
                    </div>
                </div>
            </div>
            <div class="sidebar_bot">
                <ul class="side_menu">
                    <li class="side_menu01">
                        <a id="side_dsb" href="/admin/dsb/main" class="active"><img src="/img/side_menu01.svg" alt="대시보드 홈" />대시보드 홈</a>
                    </li>
                    <li class="side_menu07">
                        <a id="side_rgd" href="#none"><img src="/img/side_menu07.svg" alt="요청 가이드" />요청 가이드</a>
                        <ul class="side_sub_menu">
                            <li><a href="/enterprise/rgd/transfer_of_data">브랜딩 자료 / 가이드 자료</a></li>
                            <li><a href="/enterprise/rgd/tutorials">듀토리얼</a></li>
                            <li><a href="/enterprise/rgd/QnA">Q & A</a></li>
                        </ul>
                    </li>
                    <li class="side_menu03">
                        <a id="side_csf" href="#none"><img src="/img/side_menu03.svg" alt="고객지원 게시판" />고객지원 게시판</a>
                        <ul class="side_sub_menu">
                            <li><a href="/enterprise/csf/maintenance">유지보수 게시판</a></li>
                            <li><a href="/enterprise/csf/medical_schedule_board">진료 일정 게시판</a></li>
                            <li><a href="/enterprise/csf/clinical_letter_request_bulletin">임상글 요청 게시판</a></li>
                            <li><a href="/enterprise/csf/test">에디터 테스트</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div th:replace="/partials/popup/common_popup :: common_popup"></div>
    </aside>
</html>
