<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.groupd.bms.repository.EnterpriseRepository">

<!-- 치과 등록 게시판 등록 프로시저 Start -->
<select id="siteInfoModify" resultType="java.util.HashMap" statementType="CALLABLE">
  {#{ retVal, mode=OUT, jdbcType=INTEGER} = call [dbo].[siteInfoModify] ( #{gubun}, #{siteKey}, #{siteCode}, #{siteName}, #{siteState}, #{siteStateLevel}, #{siteOpenState}, 
    #{blogYN}, #{homepageYN}, #{blandvideoYN}, #{reviewYN}, #{instagramYN}, #{youtubeYN}, #{momcafeYN}, #{cntBlogPos}, #{siteURL}, #{siteDomainExpdt},
    #{siteHostingExpdt}, #{address}, #{addressDesc}, #{postNo}, #{contractSdate}, #{contractEdate}, #{contractState}, #{contractPlanPDesign}, #{contractPlanVideo}, #{boardUseYN},
    #{memo}, #{siteClass}, #{ceoName}, #{siteTelno}, #{managerName}, #{managerPhone}, #{managerEmail}, #{imgBusinessRegNo}, #{imgDoctorLicense}, #{imgDegreeCertificate}, 
    #{imgDesignAssets}, #{imgOpenCertificate}, #{imgSpecialistLicense}, #{imgEtcFiles}, #{imgEtc}, #{userId}, #{retSiteCode, mode=OUT, jdbcType=VARCHAR  }, #{retSiteKey , mode=OUT, jdbcType=INTEGER}, #{retMsg , mode=OUT, jdbcType=VARCHAR} ) }
</select>
<!-- 치과 등록 게시판 등록 프로시저 End -->

  <!-- codeMgtView 프로시저 호출 Start -->
  <select id="codeMgtViewSiteState" resultType="java.util.HashMap" statementType="CALLABLE">
      {call [dbo].[codeMgtView]( #{gubun, jdbcType=VARCHAR}, #{codeGubun, jdbcType=VARCHAR}, #{code, jdbcType=VARCHAR}, #{codeName, jdbcType=VARCHAR} )}
  </select>
  <!-- codeMgtView 프로시저 호출 End -->


    <!-- 치과 계정 등록 Start -->
  <select id="mngRegist" resultType="java.util.HashMap" statementType="CALLABLE">
    {#{retVal, mode=OUT, jdbcType=INTEGER} = call dbo.mngRegist(
      #{svrGubun, jdbcType=VARCHAR, mode=IN},
      #{gubun, jdbcType=VARCHAR, mode=IN},
      #{loginUserid, jdbcType=VARCHAR, mode=IN},
      #{loginUserip, jdbcType=VARCHAR, mode=IN},
      #{i_param1, jdbcType=VARCHAR, mode=IN},
      #{i_param2, jdbcType=VARCHAR, mode=IN},
      #{i_param3, jdbcType=VARCHAR, mode=IN},
      #{i_param4, jdbcType=VARCHAR, mode=IN},
      #{i_param5, jdbcType=VARCHAR, mode=IN},
      #{i_param6, jdbcType=VARCHAR, mode=IN},
      #{i_param7, jdbcType=VARCHAR, mode=IN},
      #{i_param8, jdbcType=VARCHAR, mode=IN},
      #{i_param9, jdbcType=VARCHAR, mode=IN},
      #{retParam, jdbcType=VARCHAR, mode=OUT},
      #{retMsg, jdbcType=VARCHAR, mode=OUT}
    )}
  </select>
  <!-- 치과 계정 등록 End -->

</mapper>
