<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.groupd.bms.repository.UserRepository">

  <!-- 로그인 시도 프로시저 Start -->
  <select id="memLoginProc" statementType="CALLABLE">
    { #{retVal, mode=OUT, jdbcType=INTEGER} = call [dbo].[memLoginProc](#{userid}, #{userpw}, #{ip}, #{sysGubun},  #{errMsg, mode=OUT, jdbcType=VARCHAR}) }
  </select>
  <!-- 로그인 시도 프로시저 End -->

  <!-- 회원정보 관리 프로시저 Start -->
  <select id="memUserInfo" resultType="java.util.HashMap"  statementType="CALLABLE">
        { call [dbo].[memJoinModify](
            #{gubun},
            #{userid},
            #{pwd},
            #{name},
            #{hpno},
            #{email},
            #{birthday},
            #{gender},
            #{grade},
            #{departCode},
            #{state},
            #{siteCode},
            #{ip}
        )
    }
  </select>
  <!-- 회원정보 관리 프로시저 End -->
  
  <!-- 회원정보 관리 프로시저 Start -->
  <select id="memRegistModify" resultType="java.util.HashMap" statementType="CALLABLE">
    { #{retVal, mode=OUT , jdbcType=INTEGER} = call [dbo].[memRegistModify](
        #{gubun},
        #{userid},
        #{pwd},
        #{name},
        #{nameEng},
        #{hpno},
        #{hpnoDepart},
        #{email},
        #{emailDepart},
        #{birthday},
        #{calendarType},
        #{gender},
        #{addr},
        #{addrDesc},
        #{post},
        #{departCode},
        #{teamCode},
        #{jobPosition},
        #{jobTitle},
        #{hireType},
        #{jobStartDate},
        #{jobEndDate},
        #{jobStatus},
        #{payGiveType},
        #{bankName},
        #{bankAccount},
        #{marriedType},
        #{juminNo},
        #{boardUseYN},
        #{memo},
        #{imgBankbook},
        #{imgFamilyRL},
        #{imgProfile},
        #{imgEtc},
        #{grade},
        #{state},
        #{siteKey},
        #{ip}
        )
    }
  </select>
  <!-- 회원정보 관리 프로시저 End -->

  <!-- 회원정보 가져오기 Start -->
  <select id="memInfo" resultType="java.util.HashMap" statementType="CALLABLE">
    { call [dbo].[memRegistModify](
        #{gubun},
        #{userid},
        #{pwd},
        #{name},
        #{nameEng},
        #{hpno},
        #{hpnoDepart},
        #{email},
        #{emailDepart},
        #{birthday},
        #{calendarType},
        #{gender},
        #{addr},
        #{addrDesc},
        #{post},
        #{departCode},
        #{teamCode},
        #{jobPosition},
        #{jobTitle},
        #{hireType},
        #{jobStartDate},
        #{jobEndDate},
        #{jobStatus},
        #{payGiveType},
        #{bankName},
        #{bankAccount},
        #{marriedType},
        #{juminNo},
        #{boardUseYN},
        #{memo},
        #{imgBankbook},
        #{imgFamilyRL},
        #{imgProfile},
        #{imgEtc},
        #{grade},
        #{state},
        #{siteKey},
        #{ip}
        )
    }
  </select>
  <!-- 회원정보 가져오기 프로시저 End -->

</mapper>