<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<th:block layout:fragment="customCSS">
    <link rel="stylesheet" href="/css/acm/login.css" />
</th:block>
    <body>
        <div layout:fragment="content" class="container">
            <div class="login_wrap">
                <div class="login_inner">
                    <img src="/img/login_logo.svg?raw=true" alt="주식회사 그룹디" />
                    <h1>BMS 업체 관리시스템</h1>
                    <form class="user">
                        <div class="form-group">
                            <label for="userId" class="login_id login_text">
                                <span>아이디</span>
                                <div class="login_text_line"></div>
                                <input
                                    type="text"
                                    class="form-control form-control-user"
                                    id="userId"
                                    name="userId"
                                    aria-describedby="emailHelp"
                                    placeholder="아이디" />
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="password" class="login_pw login_text">
                                <span>비밀번호</span>
                                <div class="login_text_line"></div>
                                <input type="password" class="form-control form-control-user" id="password" name="password" placeholder="비밀번호" />
                            </label>
                        </div>
                        <div class="form-group login_check">
                            <div class="custom-control custom-checkbox login_save">
                                <input type="checkbox" class="custom-control-input" id="rememberMe" />
                                <label class="custom-control-label" for="rememberMe">아이디 저장</label>
                            </div>
                            <div class="custom-control custom-checkbox login_auto">
                                <input type="checkbox" class="custom-control-input" id="autoLogin" />
                                <label class="custom-control-label" for="autoLogin">자동 로그인</label>
                            </div>
                        </div>
                        <a href="javascript:void(0);" id="loginBtn" name="loginBtn" class="btn btn-primary btn-user btn-block"> 로그인 </a>
                    </form>
                    <p><span>상담시간</span>평일 : 09:00 ~ 18:00 (공휴일, 토/일요일 휴무)</p>
                </div>
                <div class="login_info">
                    <address>인천 남동구 구월남로 126 동우메트로피아 2층 그룹디</address>
                    <span>1644-4361</span>
                </div>
            </div>
        </div>
        <!-- 커스텀 JS 영역 -->
        <th:block layout:fragment="customJS">
            <script src="/js/templates/acm/login.js"></script>
        </th:block>
    </body>
</html>
