<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
    <!-- 데시보드 홈 CSS -->
    <th:block layout:fragment="customCSS">
        <link rel="stylesheet" href="/css/admin/dsb/main.css" />
    </th:block>

    <body>
        <div layout:fragment="content" id="content-wrapper" class="d-flex flex-column">
            <main class="main">
                <section class="main_content">
                    <div class="main_content_top">
                        <div class="main_content_info">
                            <ul class="main_content_list">
                                <li class="main_content_list01">
                                    오늘의 요청 (마감건)
                                    <div class="main_content_list01_con"><a href="#" class="main_content_list01_con01">4</a><a href="#" class="main_content_list01_con02">(<span>2</span>)</a></div>
                                </li>
                                <li class="main_content_list02">결제할 문서 <a href="#" class="main_content_zero">0</a></li>
                                <li class="main_content_list03">작성할 보고 <a href="#">2</a></li>
                            </ul>
                            <div class="main_state">
                                <h3 id="today"></h3>
                                <h4>일일 업무 보고 <span>(제 62회차)</span></h4>
                                <div class="main_state_team">
                                    <p>부서</p>
                                    <span>디자인팀</span>
                                </div>
                                <div class="main_state_report">
                                    <p>보고현황</p>
                                    <span>보고자 0명</span>
                                </div>
                            </div>
                        </div>
                        <div class="main_content_right">
                            <div class="main_commute">
                                <div class="main_commute_left">
                                    <h3>출퇴근 등록</h3>
                                    <div class="main_commute_line"></div>
                                    <p>이수은<span>디자인팀 과장</span></p>
                                </div>
                                <div class="main_commute_btn">
                                    <a href="#" class="main_commute_btn01">출근</a>
                                    <a href="#" class="main_commute_btn02">퇴근</a>
                                </div>
                            </div>
                            <div class="main_notice">
                                <h3>사내공지</h3>
                                <div class="main_notice_line"></div>
                                <ul class="main_notice_list">
                                    <li class="main_notice_list01">
                                        <a href="#">· 6월 안양바른플러스 신규업체 계약<span>2024-05-16</span></a>
                                    </li>
                                    <li class="main_notice_list02">
                                        <a href="#">· 5월 민플러스치과 신규업체 계약<span>2024-05-16</span></a>
                                    </li>
                                    <li class="main_notice_list03">
                                        <a href="#">· 5월31일 이사<span>2024-05-16</span></a>
                                    </li>
                                    <li class="main_notice_list04">
                                        <a href="#">· 8월 12, 13, 14일 휴가<span>2024-05-16</span></a>
                                    </li>
                                </ul>
                                <a href="#"><img src="/img/main_plus.svg" alt="플러스" /></a>
                            </div>
                        </div>
                    </div>
                    <div class="main_board">
                        <div class="main_board_title">
                            <h2>유지보수 게시판</h2>
                            <a href="/csf/maintenance"><img src="/img/main_plus.svg" alt="플러스" /></a>
                        </div>
                        <div class="main_board_menu">
                            <div class="main_board_state">
                                <span class="active state_receive">접수</span>
                                <span class="state_check">확인</span>
                                <span class="state_progress">진행</span>
                                <span class="state_complete">완료</span>
                                <span class="state_other">기타</span>
                                <span class="state_hold">보류</span>
                            </div>
                            <div class="main_board_category">
                                <span class="cat_mk">마케팅 / 기획<span class="category_count">10</span></span>
                                <span class="cat_ec">광고관리<span class="category_count">10</span></span>
                                <span class="cat_dg active">디자인<span class="category_count">10</span></span>
                                <span class="cat_pb">퍼블리싱</span>
                                <span class="cat_bd">영상</span>
                                <span class="cat_cp">관리</span>
                                <span class="cat_fn">재무</span>
                            </div>
                        </div>
                        <ul class="main_board_wrap">
                            <li class="main_board_list main_board_list01">
                                <div class="main_board_con">
                                    <span class="main_board_wrtime"><span class="main_board_new">오늘</span>17:52</span>
                                    <span class="main_board_wrcp">서울클리어치과 하남미사</span>
                                    <span class="main_board_wrname">박세용 원장</span>
                                    <div class="main_board_box">
                                        <span class="main_board_wrstate state_receive"
                                            >접수
                                            <ul class="state_select">
                                                <li><span class="state_receive">접수</span></li>
                                                <li><span class="state_check">확인</span></li>
                                                <li><span class="state_progress">진행</span></li>
                                                <li><span class="state_complete">완료</span></li>
                                                <li><span class="state_other">기타</span></li>
                                                <li><span class="state_hold">보류</span></li>
                                            </ul>
                                        </span>
                                    </div>
                                    <div class="main_board_box">
                                        <span class="main_board_wrcategory cat_no"
                                            >미처리
                                            <ul class="category_select">
                                                <li><span class="cat_no">미처리</span></li>
                                                <li><span class="cat_mk">마케팅 / 기획</span></li>
                                                <li><span class="cat_ec">광고관리</span></li>
                                                <li><span class="cat_dg">디자인</span></li>
                                                <li><span class="cat_pb">퍼블리싱</span></li>
                                                <li><span class="cat_bd">영상</span></li>
                                                <li><span class="cat_cp">관리</span></li>
                                                <li><span class="cat_fn">재무</span></li>
                                            </ul>
                                        </span>
                                    </div>
                                    <a href="/csf/maintenance_view" class="main_board_subject">홈페이지 수정 부탁드립니다.</a>
                                    <span class="main_board_comment">3</span>
                                    <img src="/img/main_board_file.svg" alt="파일첨부" class="main_board_file" />
                                </div>
                                <span class="main_board_wkname">이슬</span>
                            </li>
                            <li class="main_board_list main_board_list02">
                                <div class="main_board_con">
                                    <span class="main_board_wrtime"><span class="main_board_new">오늘</span>17:52</span>
                                    <span class="main_board_wrcp">서울클리어치과 하남미사</span>
                                    <span class="main_board_wrname">박세용 원장</span>
                                    <div class="main_board_box">
                                        <span class="main_board_wrstate state_check"
                                            >확인
                                            <ul class="state_select">
                                                <li><span class="state_receive">접수</span></li>
                                                <li><span class="state_check">확인</span></li>
                                                <li><span class="state_progress">진행</span></li>
                                                <li><span class="state_complete">완료</span></li>
                                                <li><span class="state_other">기타</span></li>
                                                <li><span class="state_hold">보류</span></li>
                                            </ul>
                                        </span>
                                    </div>
                                    <div class="main_board_box">
                                        <span class="main_board_wrcategory cat_dg"
                                            >디자인
                                            <ul class="category_select">
                                                <li><span class="cat_no">미처리</span></li>
                                                <li><span class="cat_mk">마케팅 / 기획</span></li>
                                                <li><span class="cat_ec">광고관리</span></li>
                                                <li><span class="cat_dg">디자인</span></li>
                                                <li><span class="cat_pb">퍼블리싱</span></li>
                                                <li><span class="cat_bd">영상</span></li>
                                                <li><span class="cat_cp">관리</span></li>
                                                <li><span class="cat_fn">재무</span></li>
                                            </ul>
                                        </span>
                                    </div>
                                    <a href="/csf/maintenance_view" class="main_board_subject">홈페이지 수정 부탁드립니다.</a>
                                    <span class="main_board_comment">3</span>
                                    <img src="/img/main_board_file.svg" alt="파일첨부" class="main_board_file" />
                                </div>
                                <span class="main_board_wkname">김영만</span>
                            </li>
                            <li class="main_board_list main_board_list03">
                                <div class="main_board_con">
                                    <span class="main_board_wrtime"><span class="main_board_new">오늘</span>17:52</span>
                                    <span class="main_board_wrcp">서울클리어치과 하남미사</span>
                                    <span class="main_board_wrname">박세용 원장</span>
                                    <div class="main_board_box">
                                        <span class="main_board_wrstate state_progress"
                                            >진행
                                            <ul class="state_select">
                                                <li><span class="state_receive">접수</span></li>
                                                <li><span class="state_check">확인</span></li>
                                                <li><span class="state_progress">진행</span></li>
                                                <li><span class="state_complete">완료</span></li>
                                                <li><span class="state_other">기타</span></li>
                                                <li><span class="state_hold">보류</span></li>
                                            </ul>
                                        </span>
                                    </div>
                                    <div class="main_board_box">
                                        <span class="main_board_wrcategory cat_cp"
                                            >관리
                                            <ul class="category_select">
                                                <li><span class="cat_no">미처리</span></li>
                                                <li><span class="cat_mk">마케팅 / 기획</span></li>
                                                <li><span class="cat_ec">광고관리</span></li>
                                                <li><span class="cat_dg">디자인</span></li>
                                                <li><span class="cat_pb">퍼블리싱</span></li>
                                                <li><span class="cat_bd">영상</span></li>
                                                <li><span class="cat_cp">관리</span></li>
                                                <li><span class="cat_fn">재무</span></li>
                                            </ul>
                                        </span>
                                    </div>
                                    <a href="/csf/maintenance_view" class="main_board_subject">홈페이지 수정 부탁드립니다.</a>
                                    <span class="main_board_comment">3</span>
                                    <img src="/img/main_board_file.svg" alt="파일첨부" class="main_board_file" />
                                </div>
                                <span class="main_board_wkname">이슬</span>
                            </li>
                            <li class="main_board_list main_board_list04">
                                <div class="main_board_con">
                                    <span class="main_board_wrtime"><span class="main_board_new">오늘</span>17:52</span>
                                    <span class="main_board_wrcp">서울클리어치과 하남미사</span>
                                    <span class="main_board_wrname">박세용 원장</span>
                                    <div class="main_board_box">
                                        <span class="main_board_wrstate state_progress"
                                            >진행
                                            <ul class="state_select">
                                                <li><span class="state_receive">접수</span></li>
                                                <li><span class="state_check">확인</span></li>
                                                <li><span class="state_progress">진행</span></li>
                                                <li><span class="state_complete">완료</span></li>
                                                <li><span class="state_other">기타</span></li>
                                                <li><span class="state_hold">보류</span></li>
                                            </ul>
                                        </span>
                                    </div>
                                    <div class="main_board_box">
                                        <span class="main_board_wrcategory cat_cp"
                                            >관리
                                            <ul class="category_select">
                                                <li><span class="cat_no">미처리</span></li>
                                                <li><span class="cat_mk">마케팅 / 기획</span></li>
                                                <li><span class="cat_ec">광고관리</span></li>
                                                <li><span class="cat_dg">디자인</span></li>
                                                <li><span class="cat_pb">퍼블리싱</span></li>
                                                <li><span class="cat_bd">영상</span></li>
                                                <li><span class="cat_cp">관리</span></li>
                                                <li><span class="cat_fn">재무</span></li>
                                            </ul>
                                        </span>
                                    </div>
                                    <a href="/csf/maintenance_view" class="main_board_subject">홈페이지 수정 부탁드립니다.</a>
                                    <span class="main_board_comment">3</span>
                                    <img src="/img/main_board_file.svg" alt="파일첨부" class="main_board_file" />
                                </div>
                                <span class="main_board_wkname">이슬</span>
                            </li>
                            <li class="main_board_list main_board_list05">
                                <div class="main_board_con">
                                    <span class="main_board_wrtime"><span class="main_board_new">오늘</span>17:52</span>
                                    <span class="main_board_wrcp">서울클리어치과 하남미사</span>
                                    <span class="main_board_wrname">박세용 원장</span>
                                    <div class="main_board_box">
                                        <span class="main_board_wrstate state_progress"
                                            >진행
                                            <ul class="state_select">
                                                <li><span class="state_receive">접수</span></li>
                                                <li><span class="state_check">확인</span></li>
                                                <li><span class="state_progress">진행</span></li>
                                                <li><span class="state_complete">완료</span></li>
                                                <li><span class="state_other">기타</span></li>
                                                <li><span class="state_hold">보류</span></li>
                                            </ul>
                                        </span>
                                    </div>
                                    <div class="main_board_box">
                                        <span class="main_board_wrcategory cat_cp"
                                            >관리
                                            <ul class="category_select">
                                                <li><span class="cat_no">미처리</span></li>
                                                <li><span class="cat_mk">마케팅 / 기획</span></li>
                                                <li><span class="cat_ec">광고관리</span></li>
                                                <li><span class="cat_dg">디자인</span></li>
                                                <li><span class="cat_pb">퍼블리싱</span></li>
                                                <li><span class="cat_bd">영상</span></li>
                                                <li><span class="cat_cp">관리</span></li>
                                                <li><span class="cat_fn">재무</span></li>
                                            </ul>
                                        </span>
                                    </div>
                                    <a href="/csf/maintenance_view" class="main_board_subject">홈페이지 수정 부탁드립니다.</a>
                                    <span class="main_board_comment">3</span>
                                    <img src="/img/main_board_file.svg" alt="파일첨부" class="main_board_file" />
                                </div>
                                <span class="main_board_wkname">이슬</span>
                            </li>
                        </ul>
                    </div>
                    <span class="main_board_ext"><img src="/img/main_board_ext.svg" alt="확장" /></span>
                </section>
                <aside class="main_side main_right_side">
                    <a href="#" class="main_side_alert"><img src="/img/main_side_alert.svg" alt="수신함" />수신함</a>
                    <a href="#" class="main_side_request"
                        ><div><img src="/img/main_side_request.svg" alt="연차신청" />연차신청</div>
                        <img src="/img/main_side_btn.svg" alt="버튼"
                    /></a>
                    <div class="main_side_os">
                        <a href="#">오늘 외근/근무<img src="/img/main_side_btn.svg" alt="버튼" /></a>
                        <ul class="main_side_os_list">
                            <li class="main_side_os_list01">
                                <span class="main_side_os_time">13:00 ~ 16:00</span>
                                <div class="main_side_os_info">
                                    <span class="main_side_os_cp">안양바른플러스치과</span>
                                    <span class="main_side_os_name01">권예욱</span>
                                    <span class="main_side_os_name02">김영만</span>
                                </div>
                            </li>
                            <li class="main_side_os_list02">
                                <span class="main_side_os_time">13:00 ~ 16:00</span>
                                <div class="main_side_os_info">
                                    <span class="main_side_os_cp">안양바른플러스치과</span>
                                    <span class="main_side_os_name01">권예욱</span>
                                    <span class="main_side_os_name02">김영만</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="main_side_break">
                        <a href="#">오늘 휴무<img src="/img/main_side_btn.svg" alt="버튼" /></a>
                        <ul class="main_side_break_list">
                            <li class="main_side_break_list01"><span class="side_break">연차</span>권예욱</li>
                            <li class="main_side_break_list02"><span class="side_break">연차</span>이슬</li>
                            <li class="main_side_break_list03"><span class="side_break">반차·오후</span>김수산나</li>
                            <li class="main_side_break_list04"><span class="side_break">반차·오전</span>김효주</li>
                        </ul>
                    </div>
                    <div class="main_side_calender">
                        <a href="#">2024.07<img src="/img/main_side_btn.svg" alt="버튼" /></a>
                        <div class="calendar_wrap">
                            <div id="calendar"></div>
                        </div>
                    </div>
                    <a href="#" class="main_side_org"
                        ><div><img src="/img/main_side_org.svg" alt="조직도 & 연락망" />조직도 & 연락망</div></a
                    >
                </aside>
            </main>
        </div>
    </body>

    <!-- 데시보드 홈 Javascript -->
    <th:block layout:fragment="customJS">
        <script src="/js/templates/admin/dsb/main.js"></script>
    </th:block>
</html>
