<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<th:block layout:fragment="customCSS">
</th:block>

<body>
  <div layout:fragment="content" class="col-md-10">
    <div id="dropZone"
      style="width: 500px; height: 300px; border: 2px dashed #ccc; display: flex; justify-content: center; align-items: center;">
      <p>여기를 클릭하고 이미지를 붙여넣기 (Ctrl+V / Command+V)</p>
    </div>
    <div id="imageContainer"></div>
  </div>
  <!-- 커스텀 JS 영역 -->
  <th:block layout:fragment="customJS">
    <script src="/js/templates/admin/dashboard/commute.js"></script>
  </th:block>
</body>

</html>