<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">
    <th:block layout:fragment="customCSS">
        <link rel="stylesheet" href="/css/mmb/login.css" />
    </th:block>
    <body>
        <div layout:fragment="content" class="container">
            <div class="login_wrap">
                <img src="/img/login_logo.svg" alt="주식회사 그룹디" />
                <h1>BMS 업체 관리시스템</h1>
                <form class="user">
                    <div class="form-group">
                        <input
                            type="text"
                            class="form-control form-control-user"
                            id="userId"
                            name="userId"
                            aria-describedby="emailHelp"
                            placeholder="아이디" />
                    </div>
                    <div class="form-group">
                        <input
                            type="password"
                            class="form-control form-control-user"
                            id="password"
                            name="password"
                            placeholder="비밀번호" />
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                            <input
                                type="checkbox"
                                class="custom-control-input"
                                id="rememberMe" />
                            <label class="custom-control-label" for="rememberMe"
                                >아이디 저장 하기</label
                            >
                        </div>
                    </div>
                    <a
                        href="javascript:void(0);"
                        id="loginBtn"
                        name="loginBtn"
                        class="btn btn-primary btn-user btn-block">
                        로그인
                    </a>
                </form>
            </div>
        </div>
        <!-- 커스텀 JS 영역 -->
        <th:block layout:fragment="customJS">
            <script src="/js/templates/mmb/login.js"></script>
        </th:block>
    </body>
</html>
