<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
    <!-- 사원 목록 CSS -->
    <th:block layout:fragment="customCSS">
        <link rel="stylesheet" href="/css/ems/employees.css" />
    </th:block>

    <body>
        <div layout:fragment="content" id="content-wrapper" class="d-flex flex-column">
            <div class="emp_wrap">
                <h2>사원 목록</h2>
                <div class="emp_board">
                    <form class="emp_board_top" id="searchForm">
                        <div class="emp_board_date">
                            <label for="fr_date">
                                <input type="date" name="fr_date" th:value="${fr_date}" id="fr_date" class="frm_input" size="11" maxlength="10" />
                            </label>
                            <span>~</span>
                            <label for="to_date">
                                <input type="date" name="to_date" th:value="${to_date}" id="to_date" class="frm_input" size="11" maxlength="10" />
                            </label>
                        </div>
                        <div class="emp_board_search">
                            <select name="searchType" id="searchType" class="search_sort" th:value="${searchType}">
                                <option value="selName" th:selected="${searchType == 'selName'}">성명</option>
                                <option value="selMemo" th:selected="${searchType == 'selMemo'}">비고</option>
                            </select>
                            <label for="sch_word">
                                <input type="text" name="search" size="20" th:value="${search}" id="sch_word" class="frm_input" />
                                <input type="button" value="검색" class="sch_btn" id="searchButton"/>
                            </label>
                        </div>
                        <div class="emp_board_btn"></div>
                        <a href="/ems/add_employees" class="emp_reg">사원등록</a>
                    </form>
                    <table id="employeeTable" class="emp_board_table" cellspacing="0">
                        <thead class="emp_board_th">
                            <tr>
                                <th>입사일</th>
                                <th>사원명</th>
                                <th>직급</th>
                                <th>부서</th>
                                <th>생년월일</th>
                                <th>이메일</th>
                                <th>비고</th>
                            </tr>
                        </thead>
                        <tbody class="emp_board_td"></tbody>
                    </table>
                    <nav class="pg_wrap">
                        <span class="pg" id="customPagination"></span>
                    </nav>
                </div>
            </div>

            <div class="member_info_wrap" id="member_info01">
                <div class="member_info_bg">
                    <div class="member_info_window">
                        <div class="member_info_top">
                            <h2>사원 기본정보</h2>
                            <span class="member_info_close"><img src="/img/member_info_close.svg" alt="닫기" /></span>
                        </div>
                        <div class="member_info_section">
                            <div class="member_info_s01">
                                <div class="member_info_img">
                                    <img id="img" src="" alt="임시이미지" />
                                </div>
                                <div class="member_info_right">
                                    <div class="member_info_name">
                                        <h3 id="userName"><span class="member_info_grade" id="jobTitle"></span></h3>
                                        <span class="member_info_team cat_dg" id="departName"></span>
                                    </div>
                                    <ul class="member_info_list01">
                                        <li class="member_info_emp">
                                            <div class="member_info_title"><h5>부서 / 팀 / 직위 / 직책</h5></div>
                                            <div class="member_info_con"><p id="depart_total_info"></p></div>
                                        </li>
                                        <li class="member_info_sdate">
                                            <div class="member_info_title"><h5>입사일</h5></div>
                                            <div class="member_info_con">
                                                <p id="jobStartDate">2024-04-20 (재직 중)</p>
                                                <span class="member_info_service" id="jobDate"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="member_info_s02">
                                <ul class="member_info_list02">
                                    <li class="member_info_type">
                                        <div class="member_info_title"><h5>채용구분</h5></div>
                                        <div class="member_info_con"><p id="hireType"></p></div>
                                    </li>
                                    <li class="member_info_bday">
                                        <div class="member_info_title"><h5>생년월일</h5></div>
                                        <div class="member_info_con"><p id="birthday"></p></div>
                                    </li>
                                    <li class="member_info_mail">
                                        <div class="member_info_title"><h5>이메일</h5></div>
                                        <div class="member_info_con"><p id="email"></p></div>
                                    </li>
                                    <li class="member_info_tmail">
                                        <div class="member_info_title"><h5>부서 이메일</h5></div>
                                        <div class="member_info_con"><p id="emailDepart"></p></div>
                                    </li>
                                    <li class="member_info_phone">
                                        <div class="member_info_title"><h5>휴대폰 번호</h5></div>
                                        <div class="member_info_con"><p id="hpno"></p></div>
                                    </li>
                                    <li class="member_info_cphone">
                                        <div class="member_info_title"><h5>업무폰 번호</h5></div>
                                        <div class="member_info_con"><p id="hpnoDepart"></p></div>
                                    </li>
                                </ul>
                            </div>
                            <div class="member_info_s03">
                                <h4>개인정보</h4>
                                <ul class="member_info_list03">
                                    <li class="member_info_address">
                                        <div class="member_info_title"><h5>주소</h5></div>
                                        <div class="member_info_con"><p id="addr"></p></div>
                                    </li>
                                    <li class="member_info_acc">
                                        <div class="member_info_title"><h5>급여 지급 방법</h5></div>
                                        <div class="member_info_con"><p id="Account"></p></div>
                                    </li>
                                    <li class="member_info_fam">
                                        <div class="member_info_title"><h5>가족사항</h5></div>
                                        <div class="member_info_con"><p id="marriedType"></p></div>
                                    </li>
                                    <li class="member_info_idn">
                                        <div class="member_info_title"><h5>주민번호</h5></div>
                                        <div class="member_info_con"><p id="juminNo"></p></div>
                                    </li>
                                    <li class="member_info_auth">
                                        <div class="member_info_title"><h5>게시판 사용 가능</h5></div>
                                        <div class="member_info_con"><p id="boardUseYN"></p></div>
                                    </li>
                                    <li class="member_info_memo">
                                        <div class="member_info_title"><h5>메모</h5></div>
                                        <div class="member_info_con"><p id="memo"></p></div>
                                    </li>
                                </ul>
                            </div>
                            <div class="member_info_s04">
                                <h4>사원 관련 서류</h4>
                                <ul class="member_info_list04">
                                    <li class="member_info_accimg">
                                        <div class="member_info_title"><h5>통장 사본</h5></div>
                                        <div class="member_info_con">
                                            <a href="javascript:void(0);" id="imgBankbook" onclick="downloadFile('imgBankbook')">
                                                <img src="/img/jpg.png" alt="jpg" />통장사본
                                            </a>
                                            <input type="hidden" id="imgBankbookValue" value="" />
                                        </div>
                                    </li>
                                    <li class="member_info_famimg">
                                        <div class="member_info_title"><h5>가족관계증명서</h5></div>
                                        <div class="member_info_con">
                                            <a href="javascript:void(0);" id="imgFamilyRL" onclick="downloadFile('imgFamilyRL')">
                                                <img src="/img/jpg.png" alt="jpg" />가족관계증명서
                                            </a>
                                            <input type="hidden" id="imgFamilyRLValue" value="" />
                                        </div>
                                    </li>
                                    <li class="member_info_profile">
                                        <div class="member_info_title"><h5>사원 프로필 사진</h5></div>
                                        <div class="member_info_con">
                                            <a href="javascript:void(0);" id="imgProfile" onclick="downloadFile('imgProfile')">
                                                <img src="/img/jpg.png" alt="jpg" />사원 프로필 사진
                                            </a>
                                            <input type="hidden" id="imgProfileValue" value="" />
                                        </div>
                                    </li>
                                    <li class="member_info_etcfile">
                                        <div class="member_info_title"><h5>이외 자료</h5></div>
                                        <div class="member_info_con">
                                            <a href="javascript:void(0);" id="imgEtc" onclick="downloadFile('imgEtc')">
                                                <img src="/img/jpg.png" alt="jpg" />이외 자료
                                            </a>
                                            <input type="hidden" id="imgEtcValue" value="" />
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="member_info_btn_wrap">
                                <a href="" id="infoUrl" class="member_info_btn">정보수정</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- 사원 목록 Javascript -->
        <th:block layout:fragment="customJS">
            <script src="/js/templates/ems/employees.js"></script>
        </th:block>
    </body>
</html>
