<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">
    <!-- 사원 목록 CSS -->
    <th:block layout:fragment="customCSS">
        <link rel="stylesheet" href="/css/ems/employees.css" />
    </th:block>

    <body>
        <div layout:fragment="content" id="content-wrapper" class="d-flex flex-column">
            <div class="emp_wrap">
                <h2>사원 목록</h2>
                <div class="emp_board">
                    <form action="" class="emp_board_top">
                        <div class="emp_board_date">
                            <label for="fr_date"
                                ><input type="text" name="fr_date" value="2024-07-15" id="fr_date" class="frm_input" size="11" maxlength="10" /><img
                                    src="/img/bm_board_date.svg"
                                    alt="처음날짜"
                            /></label>
                            <span>~</span>
                            <label for="to_date"
                                ><input type="text" name="to_date" value="2024-07-15" id="to_date" class="frm_input" size="11" maxlength="10" /><img
                                    src="/img/bm_board_date.svg"
                                    alt="마지막날짜"
                            /></label>
                        </div>
                        <div class="emp_board_search">
                            <select name="sfl" id="sch_sort" class="search_sort">
                                <option value="emp_bn">성명</option>
                                <option value="emp_wn">비고</option>
                            </select>
                            <label for="sch_word"
                                ><input type="text" name="stx" size="20" value="" id="sch_word" class="frm_input" />
                                <input type="submit" value="검색" class="sch_btn"
                            /></label>
                        </div>
                        <div class="emp_board_btn">
                            <button class="emp_board_refrash"><img src="/img/bm_board_refrash.svg" alt="새로고침" /></button>
                            <a href="#" class="emp_board_mybtn">My</a>
                        </div>
                        <a href="#" class="emp_reg">사원등록</a>
                    </form>
                    <table class="emp_board_table" cellspacing="0">
                        <thead class="emp_board_th">
                            <tr>
                                <th>입사일</th>
                                <th>사원명</th>
                                <th>직급</th>
                                <th>부서</th>
                                <th>생년월일</th>
                                <th>이메일</th>
                                <th>비고</th>
                            </tr>
                        </thead>
                        <tbody class="emp_board_td">
                            <tr>
                                <td class="emp_wr_wdate">2023.03.01 ~ 재직중</td>
                                <td class="emp_wr_name"><a href="#">강성진</a></td>
                                <td class="emp_wr_grade">대리</td>
                                <td class="emp_wr_team"><span class="board_category cat_dg">디자인</span></td>
                                <td class="emp_wr_bday">1996.11.22</td>
                                <td class="emp_wr_email">sueunlee@group-d.co.kr</td>
                                <td class="emp_wr_etc">정직원</td>
                            </tr>
                            <tr>
                                <td class="emp_wr_wdate">2023.03.01 ~ 재직중</td>
                                <td class="emp_wr_name"><a href="#">강성진</a></td>
                                <td class="emp_wr_grade">대리</td>
                                <td class="emp_wr_team"><span class="board_category cat_dg">디자인</span></td>
                                <td class="emp_wr_bday">1996.11.22</td>
                                <td class="emp_wr_email">sueunlee@group-d.co.kr</td>
                                <td class="emp_wr_etc">정직원</td>
                            </tr>
                            <tr>
                                <td class="emp_wr_wdate">2023.03.01 ~ 재직중</td>
                                <td class="emp_wr_name"><a href="#">강성진</a></td>
                                <td class="emp_wr_grade">대리</td>
                                <td class="emp_wr_team"><span class="board_category cat_dg">디자인</span></td>
                                <td class="emp_wr_bday">1996.11.22</td>
                                <td class="emp_wr_email">sueunlee@group-d.co.kr</td>
                                <td class="emp_wr_etc">정직원</td>
                            </tr>
                            <tr>
                                <td class="emp_wr_wdate">2023.03.01 ~ 재직중</td>
                                <td class="emp_wr_name"><a href="#">강성진</a></td>
                                <td class="emp_wr_grade">대리</td>
                                <td class="emp_wr_team"><span class="board_category cat_dg">디자인</span></td>
                                <td class="emp_wr_bday">1996.11.22</td>
                                <td class="emp_wr_email">sueunlee@group-d.co.kr</td>
                                <td class="emp_wr_etc">정직원</td>
                            </tr>
                        </tbody>
                    </table>
                    <nav class="pg_wrap">
                        <span class="pg">
                            <a href="#" class="pg_page pg_start">처음</a>
                            <a href="#" class="pg_page pg_prev">이전</a>
                            <strong class="pg_current">1</strong>
                            <a href="#" class="pg_page">2</a>
                            <a href="#" class="pg_page">3</a>
                            <a href="#" class="pg_page">4</a>
                            <a href="#" class="pg_page">5</a>
                            <a href="#" class="pg_page">6</a>
                            <a href="#" class="pg_page">7</a>
                            <a href="#" class="pg_page">8</a>
                            <a href="#" class="pg_page">9</a>
                            <a href="#" class="pg_page">10</a>
                            <a href="#" class="pg_page pg_next">다음</a>
                            <a href="#" class="pg_page pg_end">맨끝</a>
                        </span>
                    </nav>
                </div>
            </div>
        </div>
    </body>

    <!-- 사원 목록 Javascript -->
    <th:block layout:fragment="customJS">
        <script src="/js/templates/ems/employees.js"></script>
    </th:block>
</html>
