@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css');
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* letter-spacing: -0.05em; */
}
body,
html {
    height: 100%;
}

body {
    position: relative;
    overflow-x: hidden;
    font-family: 'Pretendard', sans-serif;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    word-break: keep-all;
}
.pre {
    font-family: 'Pretendard', sans-serif;
}
input,
select {
    font-family: 'Pretendard', sans-serif;
}
select:focus-visible,
input:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}
a {
    color: #333;
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0px;
}
li {
    list-style: none;
}
img {
    vertical-align: middle;
    max-width: 100%;
}
.m_con {
    display: none;
}
.blind {
    text-indent: -9999px;
    line-height: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
strong {
    margin: 0;
}
address {
    font-style: normal;
}
.center {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}
.sub_center {
    max-width: 1235px;
    width: 100%;
    margin: 0 auto;
}
.main_side {
    max-width: 227px;
    width: 100%;
    margin: 0 auto;
}
#wrapper {
    display: flex;
    background-color: #edf0f6;
}
